[2014-09-03 20:17] mach6 opened #1 "Issue with building SeLion on fresh maven install"
The `<repositories>` section of the parent POM needs to be re-written to

[code]

Long term the `<repositories>` section of the parent POM should go away. However, it is in place for now due to the dependency on UserAgentUtils which is not in Central

https://maven.apache.org/guides/mini/guide-central-repository-upload.html
http://blog.sonatype.com/2009/02/why-putting-repositories-in-your-poms-is-

[2014-09-03 20:28] mach6 opened #3 "Documentation - incorrect link"
On the page http://paypal.github.io/SeLion/html/documentation.html#containers

The link `SeLion Code generator Maven plugin` goes to `whatIsCodeGenerator.html` instead of `#what-is-code-generator`

[2014-09-03 23:00] #3 closed, assigned to mach6

[2014-09-03 23:03] mach6 opened #6 "Remove `<repositories>` section of parent POM for publishing to Central"
Long term, the `<repositories>` section of the parent POM should go away. However, it is in place for now due to the dependency on UserAgentUtils which is not in Central

https://maven.apache.org/guides/mini/guide-central-repository-upload.html
http://blog.sonatype.com/2009/02/why-putting-repositories-in-your-poms-is-a-bad-idea/#.VAZDtmRdXNI
http://blog.sonatype.com/2010/03/why-external-repos-are-

[2014-09-03 23:04] mach6 commented on #1
Closing this issue. Moved my comment related to the long term enhancement which we need to follow up on to - https://github.com/paypal/SeLion/issues/6

[2014-09-03 23:04] #1 closed, assigned to mach6

[2014-09-05 23:24] mach6 opened #8 "Documentation - incorrect content "
https://github.paypal.com/pages/QualityInfrastructure/bluefin-oss-parent/html/documentation.html#excel-data-provider refers to an object called `ExcelDataProvider` both in the write-up and the examples.

There is no such class in SeLion.

It is called `SimpleExcelDataProvider` -- https://github.com/paypal/SeLion/blob/develop/client/src/main/java/com/paypal/selion/platform/dataprovider/SimpleExcelD

[2014-09-06 02:34] mach6 opened #9 "Documentation - default 'client' test suite requires chromedriver and chrome"
The documentation on http://paypal.github.io/SeLion/html/documentation.html#buildingSelion does not list chromedriver and chrome as a prerequisite.

While technically, this is accurate if you do `mvn -DskipTests=true` or run a test suite other than the default one with `mvn -DsuiteXmlFile=<a suite file in src/test/resources/suites>`, it does not work per the instructions provided which will run th

[2014-09-06 02:58] mach6 opened #10 "Provide alternate download.properties for the server component"
When you start a a Grid node or hub, SeLion's file downloader kicks in and verifies all files in `download.properties` are present, and if necessary extracted.

By default, there are files downloaded which are not likely used on a unix/mac environment (IEDriver.exe, for example).

We should provide alternative `download.properties` and a means for the user to select the correct one per their platf

[2014-09-06 03:09] mach6 opened #11 "Better organize content of SeLion-Grid.zip, once unzipped and running"
We need to clean up the directory in this area.
1. There are logs in the root folder and in the logs folder. Let's put them all in the same place.
2. Config files are mixed in with logs and binaries.. Let's put them in a separate folder
3. Downloaded content (from file downloader) also lands in the root folder. Should it too be in a separate folder?
4. Better organize windows and non-windows entit

[2014-09-08 23:49] mach6 commented on #8
merged to `gh-pages`

[2014-09-08 23:49] #8 closed, assigned to nobody

[2014-09-09 19:15] mach6 opened #13 "Documentation - Architectural user guide"
Please create a User Guide which explais architecture of SeLion & execution flow

Feedback from - https://groups.google.com/forum/#!topic/selion/5pJvz9p80cs

[2014-09-09 19:29] mach6 opened #14 "Documentation - PayPal open source logo not diplayed on IE"
http://paypal.github.io/SeLion/  - The paypal open source svg is not displayed in newer IE versions..

[2014-09-09 19:32] mach6 opened #15 "Documentation - footer does not always stay on the bottom"
http://paypal.github.io/SeLion/html/documentation.html

The footer on this section of the site does not always stay on the bottom as it should.

[2014-09-10 06:38] mach6 opened #16 "Please change RuntimeReporter to give raw json data as output"
If RuntimeReporter used json output, there would b opportunity for greater flexibility w.r.t the look/feel of the report.

[2014-09-10 23:54] mach6 opened #17 "'client' build tests fail with latest ios-driver-0.6.6-snapshot code on 'dev' branch"
The ios-server jar is no longer a jar-with-dependencies. As a result, we have some classpath related issues when TestServerUtils attempts to start.

The fix here seems to be;
1. exclude selenium-server in the 'client' pom from the ios-server dependency declaration
2. go back to `import org.seleniumhq.jetty7.x` in `TestServerUtils.java`

[2014-09-12 23:32] mach6 opened #18 "error "unsupported command-line --ignore-certificate-errors" displayed in chrome"
This seems to be an issue that popped up since selenium 2.41+

[2014-09-12 23:32] mach6 opened #19 "Error displayed in SeLIon Grid2 Node on windows"
15:55:36.308 ERROR - java.io.IOException: Cannot run program "tasklist.exe /fo c
sv /nh": CreateProcess error=2, The system cannot find the file specified
com.paypal.selion.utils.process.ProcessHandlerException: java.io.IOException: Ca
nnot run program "tasklist.exe /fo csv /nh": CreateProcess error=2, The system c
annot find the file specified

[2014-09-12 23:34] mach6 opened #20 "chromedriver not found by SeLion local Grid2 node when running on windows"
There is a hard-coded assumption in the 'server' start-up script that the binaries will be a C:\Grid2. This assumption is not valid.

[2014-09-15 09:05] bingwei opened #21 "Build instruction for SeLion is not clear"
I tried following http://paypal.github.io/SeLion/html/documentation.html#buildingSelion to build SeLion.
But I was blocked for multiple times.
1. While building ios-driver for precondition, I need more clear information how to do it.
2. After getting ios-driver ready, blocked while running
   mvn clean install -DSELION_SELENIUM_HOST=<location of your currently running selenium grid>
   I always go

[2014-09-15 22:37] #17 closed, assigned to mach6

[2014-09-15 22:37] #18 closed, assigned to mach6

[2014-09-15 22:37] #19 closed, assigned to mach6

[2014-09-15 22:37] #20 closed, assigned to mach6

[2014-09-16 09:42] sundaramrajendran commented on #15
@mach6

Is this specific to any browser or any page for this issue. When I try to load the page footer is getting displayed and once content is loaded footer is moved to bottom of the page. Is this issue?

[2014-09-16 10:54] ysecaran commented on #11
@mach6 : i am looking into this. Will update more on how to organize.

[2014-09-16 10:55] sundaramrajendran commented on #14
@mach6: I am working on this...

[2014-09-16 22:06] mach6 commented on #15
@sundaramrajendran the issue is on any browser, from what I see. The problem is the footer does not always align to the absolute bottom of the viewport/browser window -- like it does on the front page -- http://selion.io  ... to see the issue you need to have a viewport/browser with a large vertical area or load a page with a small amount of text.   The point you mention of the footer displaying a

[2014-09-17 00:50] mach6 commented on #14
@sundaramrajendran  Code merged to gh-pages.. Thanks!

[2014-09-17 23:33] mach6 commented on #21
@bingwei  The error displayed is not really a SeLion related build error. It suggests that Maven surefire was unable to start. Do you have enough heap memory allocated to Maven? I use `MAVEN_OPTS=-Xmx1024m` when building SeLion

[2014-09-17 23:43] mach6 commented on #21
@bingwei thanks for the suggestions @ bingwei@2017062   In the latest `develop` branch, I have added a shell script for building ios-driver. This doesn't help much for people on Windows, but it should at least outline the steps required.

Also, I noticed in your commit that you have added a localgrid. Are you aware of the `server` components included with SeLion? You should be able to compile this

[2014-09-24 10:07] sundaramrajendran commented on #15
@mach6 I am working on this issue

[2014-09-26 17:35] mach6 commented on #15
PR merged to `gh-pages`

[2014-09-26 17:35] #15 closed, assigned to nobody

[2014-10-01 00:04] mach6 opened #30 "SeLion logged content is written to ios-driver.log when running tests against ios-driver"
ios-logging.properties installs a FileHandler on the root logger which outputs ALL events to ios-driver.log
This is a pretty invasive assumption for downstream applications such as SeLion.

[2014-10-08 14:13] mach6 commented on #21
@bingwei closing this. please re-open as you see fit.

[2014-10-08 14:13] #21 closed, assigned to nobody

[2014-10-15 20:11] mach6 opened #32 "Add configuration setting to set selion log file limits."
With the recent changes to `SimpleLogger` (which is used by `SeLionLogger`) https://github.com/paypal/SeLion/commit/003b48052acddf8e7c3ba7f7499cbe893eda8b46 we have an opportunity to add a new configuration option that will control the log file limits. For example, we can now limit the number of log files and/or the size before rolling to a new file. We should define a default behavior, add it to

[2014-10-16 05:58] ysecaran opened #34 "Providing Feedback to the user when the node is currently under restart or auto -upgrade"
There is no feedback mechanism when the node is force restarted.
The UI immediately says auto restart successful when it is happening in the background.
The users must be notified about this. This is same when the auto upgrade is triggered.

[2014-10-16 06:06] ysecaran opened #35 "Document usage of files and supported artifacts that are part of SeLion-Grid"
This issue focusses on documenting the steps to host the SeLion-grid on different platform.
Provide meaningful description of the usage of files.

[2014-10-16 06:09] ysecaran opened #36 "Enhancing SeLion-Grid to be compatible with heterogenous environment"
Right now a user can host a Grid and node "only" on the same platform. If the grid is on linux then all nodes must be on linux. same goes for windows and mac. This should be enhanced to multiple platforms where a user can hook up linux/mac/windows node to a grid irrespective of platforms.

[2014-10-16 06:15] ysecaran opened #37 "Customizing the choice of artifacts as per the user requirements for a platform on SeLion-Grid"
A Console to customize the choice of artifacts as per the user requirements would be useful.

There is no ability in the Auto Upgrade console page to select the nodes which the change should apply to. This means a user has to be creative if one node requires 32bit artifacts and another requires 64bit, for example.

By 'creative', it means the user is likely first shutting down the nodes the change

[2014-10-17 19:40] mach6 opened #38 "Documentation - Document ElementEventListeners."
PR #23 added ElementEventListeners to SeLion. We need to document this capability on the site.

Documentation should include;
1. How to use this capability
2. Config option added.
3. Current Javadocs.

[2014-10-17 19:45] mach6 opened #39 "Documentation - Upates to https://github.com/paypal/SeLion/tree/gh-pages/html/java-docs should be automated"
Look into options for getting https://github.com/paypal/SeLion/tree/gh-pages/html/java-docs updated in an automated fashion.

In addition, long term we will want to maintain multiple versions of the java-docs at that location. The versions will include previously released versions and current SNAPSHOTS

[2014-10-20 21:31] sankarbhavanib opened #41 "issues with documentation"
started with getting-started for web project . came across below documentation issues

http://paypal.github.io/SeLion/html/documentation.html#getting-started
- [x] 1   The steps says the sample project will get  created in the below path "src/main/com/mycompany/test" , but it actually created sample project in below path "src/main/java/com/mycompany/test"
- [x] 2   the steps says to go to folder {

[2014-10-20 21:34] sankarbhavanib opened #42 "sample execution failed with below error"
Running TestSuite
10.20.2014 15:43:05.911,[1] com.paypal.selion INFO JDK Information: Java HotSpot(TM) 64-Bit Server VM from Oracle Corporation ver. 1.7.0_45
10.20.2014 15:43:05.916,[1] com.paypal.selion INFO Runtime Report : /Users/bbheemanadham/testProject/Sample/target/surefire-reports/RuntimeReporter/index.html
2014-10-20 15:43:06.465:INFO:osjs.Server:jetty-7.x.y-SNAPSHOT
2014-10-20 15:43:06.4

[2014-10-20 21:36] mach6 commented on #42
What version of FF are you using? Selenium and FF versions are tightly coupled.

[2014-10-20 21:40] sankarbhavanib commented on #42
FF version 32.0.3 .  Getting Started with Web Automation is not suggesting any specific version , so tried with latest one

[2014-10-20 21:44] mach6 commented on #42
Yes. I apologize for that mishap on the docs. FF v32 is not compatible with Selenium 2.41.0 (currently used by SeLion). FF v32 is only supported in Selenium 2.43.1 - I'm working on a contribution -- https://github.com/mach6/SeLion/commit/81481081db21c0995af4195391b773ab388718ea -- that will change SeLion to v2.43.1 as I write this.

In the meantime, the version of FF supported in 2.41.0 is up to 2

[2014-10-20 21:44] #42 closed, assigned to nobody

[2014-10-21 23:46] azaytsev opened #45 "waitUntilElementIsXXX functions do not handle piped locators properly"
waitUntilElementIsXXX methods timeout if a piped element locator is passed

[2014-10-22 21:46] mach6 opened #48 "Code refactoring opportunities"
- Left unaddressed from #44
- [ ] In `com.paypal.selion.platform.grid.LocalSelendroidNode` the following methods are being duplicated from `com.paypal.selion.platform.grid.LocalIOSNode`. Can we consider creating an `AbstractNode` from which both `LocalSelendroidNode` and `LocalIOSNode` extend and house these two methods in the abstract class ?
  `com.paypal.selion.platform.grid.LocalSelendroidNode

[2014-10-23 05:16] mach6 commented on #45
closing. this is merged to develop

[2014-10-23 05:16] #45 closed, assigned to mach6

[2014-10-23 05:20] mach6 opened #49 "Documentation - Document Selendriod integration and usage."
We need to provide examples which document how to use Selendroid with `@MobileTest` in SeLion. In addition we need to document any Selendriod configuration parameters.

[2014-10-29 11:13] renelux opened #50 "SeLion-Grid: Download platform specific drivers on OSX and Linux"
When running the SeLion Grid on Mac it will download all the Windows drivers. Instead it should download the drivers specific to the platform that we are running on.

[2014-10-29 11:16] ysecaran commented on #50
Rene, This is already taken care as part of the following issue: https://github.com/paypal/SeLion/issues/10 . There is an outstanding pull request.

[2014-10-29 12:43] renelux commented on #50
Sorry, I missed that one. I will close this issue.

[2014-10-29 12:43] #50 closed, assigned to nobody

[2014-11-04 09:03] mgooty commented on #48
@mach6 - I would like to pick up this code re-factoring task. Before that I wanted to  know if someone is working on this issue? If no one is working, please assign the issue to me.

[2014-11-04 09:12] krmahadevan commented on #48
@mgooty
Mithun,
To the best of my knowledge no one is working on this. So if you would like to take a go at this, please feel free to do it. But please do mention in the comments that you would be working on it.

[2014-11-04 09:20] mgooty commented on #48
@krmahadevan - Thank you for the confirmation. I will be working on this issue.

[2014-11-13 22:16] mach6 commented on #14
@sundaramrajendran FYI, Reopening this. It is not fixed for IE11

[2014-11-14 01:32] renelux opened #53 "@MobileTest iOS not honoring locale and language settings"
Please see the example below if I run this test case the simulator is still being launched with language=en and locale=en_US.

[code]

[2014-11-17 20:03] azaytsev commented on #53
@renelux - I just ran your test on my machine and it's definitely setting the locale and language to French. In fact, it fails because of the following line in your test, since the text is now in French.
        `By selector = By.xpath("//UIAStaticText[contains(@name,'climbed')]");`

![internationmountains_scr1](https://cloud.githubusercontent.com/assets/4985640/5076677/bd920cee-6e51-11e4-9ccf-4e3

[2014-11-17 23:51] renelux commented on #53
@azaytsev I am still running in to the same issue. Can you please tell me what Xcode you are using? And what simulator. I am on the latest version for both and I am not sure if it is supported correctly.

Is there a way to set the simulator that I want to use?

[2014-11-18 01:29] azaytsev commented on #53
@renelux, I was able to test with both XCode 6.0.1 / IOS 8.0 simulator and XCode 5.1.1 / iOS version 7.1

The answer to your second questions is yes, you can specify which simulator to use with capabilities (in IOSDriver) but i don't believe SeLion exposes that function at the moment.

For example:

[code]

[2014-11-18 01:42] renelux commented on #53
I am running Xcode 6.1 and the default Simulator runs iOS 8.1.

I will see if I can added the functionality to SeLion to specify the simulator and SDK version.

[2014-11-18 01:47] krmahadevan commented on #53
Rene
You don't need to be adding that. We already have a mechanism in SeLion using which you can add up your own custom capabilities.

For more information please take a look at the javadoc for
ConfigProperty.SELENIUM_CUSTOM_CAPABILITIES_PROVIDER
- Cheers
  Krishnan.

Sent from a mobile.
So if you noticed any typos you know whom to blame 😊

-------- Original message --------
From: René Lux notific

[2014-11-18 20:09] mach6 commented on #53
@krmahadevan the down-side of using a custom capabilities provider here is the customization will apply to all tests for iOS which may not be the desired outcome.

[2014-11-18 22:33] krmahadevan commented on #53
Doug
The effect can be nullified by isolating such tests into a separate suite file and then use it to run them.

If that doesn't work the only other option I see is to either enhance the @MobileTest annotation and add an attribute using which one can pass in a custom capability provider ( I don't want to add attributes directly to the annotation ) or we could just define a new annotation itself @

[2014-11-19 13:04] sundaramrajendran commented on #14
@mach6 : I will fix this issue once I find a free time...

[2014-11-19 20:51] mach6 commented on #14
@sundaramrajendran Thanks! No rush. I'd rather have the new RuntimeReporter first. :)

[2014-11-20 02:33] azaytsev commented on #53
@renelux I'm working on enhancing @MobileTest annotation to support additional attributes to allow the enduser to specify the sdk version as well as device variation (iphone5, iphone6, etc), however, I've discovered a bug in ios-driver which needs to be fixed before this can be accomplished. I'm working on issuing an ios-driver pull request to address it. Will keep you posted as when this is ready

[2014-11-20 02:58] renelux commented on #53
@azaytsev thanks. I tried to implement the CustomCapabilities provider but it didn't solve my issue. I will wait for your update to see if I have more luck.

[2014-11-20 03:44] krmahadevan commented on #53
@azaytsev
I am not sure if its a good idea to start enhancing the `@MobileTest` annotation with attributes that are either specific to the iOS platform or the Android Platform. Instead I was hoping that we would merely add an annotation say `@CustomizeCapabilities` which would accept a fully qualified class name of a custom capability provider and SeLion would internally use the similar mechanism

[2014-11-20 05:50] mach6 commented on #53
@krmahadevan I don't see anything wrong with changing the acceptable values for `@MobileTest String device()` such that it can receive `iphone` (existing support), `ipad` (existing support), `android` (existing support), `android{x}` (existing support),  `iphone{x}` (new), and `ipad{x}` (new).

[2014-11-20 10:00] renelux commented on #53
@krmahadevan I created a CustomCapabilities provider that extends the DefaultCapabilitiesBuilder. To the Capabilities I add the following parameters

[code]

In the console I see that these capabilities have been add. But the simulator that starts is still iOS 8.1 so it seems that the value is ignored.

I am thinking to downgrade Xcode and the iOS SDK to see if that helps.

[2014-11-20 14:11] krmahadevan commented on #53
That's interesting. So the capabilities part works. Just that the remote server responsible for spawning the simulator is not honoring the capabilities so to speak.

This may require a bit more investigation to see where does the problem lie.

In the meantime can you please check on the following ?
1. Spawn a local grid.
2. Spawn a ios node and hook it on to the local grid.
3. Try running the same

[2014-11-20 14:17] krmahadevan commented on #53
Doug
Nothing wrong in adding attributes to the @MobileTest annotation as long as they are common to both ios and android. My only concern is that we shouldn't be adding attributes to this annotation that are ios or Android specific. If there is a need for such a requirement then I think we should think of handing it in a different manner ( for e.g via a new custom annotation that can be used in co

[2014-11-20 18:02] mach6 commented on #53
@renelux its because of the bug in ios driver that Alex mentioned above

[2014-11-20 23:21] azaytsev commented on #53
@renelux issued a pull request in ios-driver for the bug fix. https://github.com/ios-driver/ios-driver/pull/327
If you want you can try checking out my ios-driver branch building it locally and seeing if that fixes your issue. (https://github.com/azaytsev/ios-driver/tree/azaytsev_classcast_exception_fix)

I'm also working on adding iphone{x} capability to SeLion which will allow you to specify the

[2014-11-21 03:34] renelux commented on #53
@azaytsev it seems that your bug is solving the issue. Or atleast I now get a different kind of error.

[code]

I guess this is because I don't have the proper SDK installed yet. Any pointers on how I can install a older SDK besides the latest version? If I remove the SDK version from my CustomCapability it will just start the iOS 8.1 simulator.

Edit: Already found a document that is helpful with

[2014-11-21 05:55] azaytsev commented on #53
@renelux You are close. I am still working on adding functionality to SeLion to allow users to specify device variation via annotation. In the meanwhile you should be able to fix it by adding another capability.

capabilities.setCapability(IOSCapabilities.VARIATION, DeviceVariation.iPhone5s);

There is also a way to run multiple version on XCode on one machine and be able to switch between them (I

[2014-11-21 06:35] kumaravel-jayakumar commented on #53
@renelux
As azaytsev mentioned you can install multiple versions on Xcode in the same machine and use either one to run the simulator. I am giving an approach I follow.
I have installed Xcode 5.1.1 into the folder '/Applications/Xcode5.1.1' so my Xcode.app sits under '/Applications/Xcode5.1.1/Xcode.app', but I still have Xcode 6 installed under '/Applications/Xcode.app' don't disturb this. In your

[2014-11-21 06:38] renelux commented on #53
@kumaravel-jayakumar thanks, I already found a article that suggests the same thing. I am currently downloading version Xcode 5.1.1 and Xcode 6.0.1 as it seems that @azaytsev got it working. I will update this thread once it works.

[2014-11-21 06:41] kumaravel-jayakumar commented on #53
@azaytsev
I have got a similar error 'Unable to get UUID for device iPhone Retina (4-inch) with SDK 7.1'. This happens if you have downloaded iOS 7 simulator in Xcode 6. I used to fix this issue by requesting for iPhone 5s, if you do this it will not show up this error. This error is because ios-driver sets iPhone Retina (4-inch) as its default device while choosing SDK version 7.1. iOS 7 simulato

[2014-11-21 16:13] renelux commented on #53
@azaytsev I got it working on Xcode 5.1.1 and SDK 7.1 but with Xcode 6.0.1 and SDK 8.0 the InternationalMountains app crashes.

Is the version linked on the ios-driver website compatible with iOS 8?

[2014-11-23 13:02] krmahadevan commented on #48
The Pull request https://github.com/paypal/SeLion/pull/51 addresses this issue.

[2014-11-23 13:02] #48 closed, assigned to nobody

[2014-11-24 06:25] kumaravel-jayakumar commented on #53
@renelux
Where did you get your InternationalMountains application?

[2014-11-24 08:46] mach6 commented on #53
@renelux fyi -  ios-driver/ios-driver#327 is merged

[2014-12-01 20:21] azaytsev opened #57 "Add an ability to specify SDK version and/or device variation when launching ios-driver"
Add an ability to specify sdk version and/or device variation via Webtest annotation when launching and ios-driver test

[2014-12-01 20:26] azaytsev commented on #53
@renelux - Take a look at my branch here(https://github.com/azaytsev/SeLion/tree/azaytsev-ios-mobiletest-enhancements). It's still a work in progress but I've added capabilities that allow you to specify the sdk version and/or device variation via annotations.

Take a look at NativeAppDemo.java class for some code samples. This should resolve you issue of being able to launch an app in different v

[2014-12-05 17:55] azaytsev commented on #53
@renelux is this still an issue or can this ticket be closed?

[2014-12-10 19:19] mach6 commented on #53
I'll close this when we merge the new code to SeLion for specifying SDK version. :)

[2014-12-16 00:53] mach6 commented on #16
This capability is now present in the develop branch with commit https://github.com/paypal/SeLion/commit/c1a1ed869087b7dacf99a198de6b8757cb25f342

[2014-12-16 00:53] #16 closed, assigned to nobody

[2014-12-16 01:39] mach6 commented on #30
merged to `develop`.

[2014-12-16 01:39] #30 closed, assigned to nobody

[2014-12-17 00:54] mach6 commented on #6
https://github.com/paypal/SeLion/tree/dsimmons_maven-central-changes should address this

[2014-12-17 09:04] mach6 commented on #6
all should be good now in this area with this commit https://github.com/paypal/SeLion/commit/7791090e2f79c27f0a413d9cff42f4915f8acddc

[2014-12-17 09:04] #6 closed, assigned to nobody

[2014-12-17 19:32] azaytsev opened #64 "Update archetype with a new version for InternationMoutains app + tests"

[2015-01-08 19:04] pearlselvan opened #65 "Selion documentaion issue in maven-surefire-plugin version"
Started with getting-started for mobile automation in below link . came across below documentation issues

http://paypal.github.io/SeLion/html/documentation.html#getting-started-mobile

Found out that maven-surefire-plugin : 2.12 version which is updated the above Selion link is having the issue to run the script .

Got error "Error occurred in starting fork” when I am running the script with mave

[2015-01-08 23:17] #57 closed, assigned to nobody

[2015-01-08 23:18] mach6 commented on #53
new code merged to develop branch. closing this.

[2015-01-08 23:18] #53 closed, assigned to nobody

[2015-01-08 23:47] azaytsev opened #66 "Add an instruments check for iOS mobile tests to make sure Xcode version 6 or greater is used"
- Add a check to make sure iOS tests are running with Xcode version 6 or greater
  InstrumentsVersion version =  ClassicCommands.getInstrumentsVersion();

[2015-01-14 05:11] pearlselvan commented on #65
Fixed this issue and raised the pull request #68

[2015-01-14 05:16] krmahadevan commented on #65
@pearlselvan

Issues should be closed only after the pull request has been merged.

[2015-01-14 05:21] pearlselvan commented on #65
@krmahadevan , Thanks Krishnan , I will do that .

[2015-01-15 02:12] mach6 commented on #65
this is addressed and merged

[2015-01-15 02:12] #65 closed, assigned to nobody

[2015-01-29 07:03] krmahadevan opened #69 "Create a document that talks about using the SeLion Archetype"
The Getting Started page for both Web and Mobile automation basically just deals with a quick start archetype. Since SeLion has a customized archetype available which is also published to Maven Central, we would need to create/update our documentation such that we start referring to the SeLion archetype in our getting started documentation.

[2015-01-30 00:40] mach6 commented on #9
addressed with commit https://github.com/paypal/SeLion/commit/7c34b2b65e9892b0c064fb6628c6c2090b2ced63

[2015-01-30 00:40] #9 closed, assigned to nobody

[2015-01-30 01:05] mach6 commented on #41
:+1: fixed thanks!

[2015-01-30 01:06] #41 closed, assigned to nobody

[2015-02-03 08:12] rohittyagi83 commented on #42
Well to resolve this issue just try to add/update these lines in your ivy.xml. This will resolve the issue.

[code]

[2015-02-05 21:45] mach6 commented on #38
@renelux can you work this issue?

[2015-02-18 02:40] mach6 opened #71 "Unclear error messages displayed when unable to parse a PageYAML document"
If you have a syntax error in your PageYAML document, you could see the following error displayed by the code generator, which does not indicate a corrective action to take.

[code]

To reproduce this, use the following PageYAML file which is missing the locale definition for the locator;

[code]

The error message displayed is misleading. It suggests that the user needs to specify 'platform'. How

[2015-02-18 21:57] mach6 opened #72 "Unclear documentation w.r.t naming locators/selectors in PageYAML"
The page http://paypal.github.io/SeLion/html/documentation.html#pageyaml incorrectly conveys that each SeLion Element type strictly maps to a html element. We need to fix this.

Problematic text

[code]

More accurately, the following is true;

If you look at the code for all of the Element types unique to SeLion, none of them are strictly tied to a html element.

Rather, they each expose a set of

[2015-02-18 22:06] mach6 opened #73 "Unclear documentation w.r.t defaultLocale / PageYaml"
Consider rephrasing this text and/or adding an example which walk through the design details;

[code]

This documentation issue is rooted in this feedback;

[code]

An example walk-through could look like this;

You only need to specify the locator for any given element in a different locale when it is different from the defaultLocale's value. When the test is run, if there is no locator specified

[2015-02-20 20:31] #11 closed, assigned to nobody

[2015-02-20 20:32] mach6 commented on #10
this is addressed in the latest code

[2015-02-20 20:32] #10 closed, assigned to nobody

[2015-02-21 06:12] mach6 commented on #36
@ysecaran Is this issue still valid? I currently have a Win hub with a Win node and a Linux node plumbed together with SeLion-Grid... Furthermore, I'm able to route to a specific node through the hub via `DesiredCapabilities`

![image](https://cloud.githubusercontent.com/assets/3238999/6313065/cf4aa166-b94d-11e4-947a-0c2db211fd55.png)

[2015-02-23 06:26] ysecaran commented on #36
@mach6 the issue comes when the user tries to do a auto upgrade. Right now, the UI page rendered for auto upgrade is based upon the platform on which the grid is hosted. I hosted a linux grid with a linux node and mac node.

![screen shot 2015-02-23 at 12 01 36 pm](https://cloud.githubusercontent.com/assets/8719446/6323598/24907450-bb53-11e4-8621-a1dfa73cc040.png)

The grid still shows UI page(as

[2015-02-23 08:56] krmahadevan commented on #36
@mach6
Is this a priority problem right now ? I believe that we would need to revisit our auto upgrade logic and all the entire functionalities associated with it because if you look at it.. it was originally built to support just our Grid farm.. We would need to revisit the logic such that it now does the following
- Accept the URLs for all platform specific binaries in the UI and then this infor

[2015-02-26 03:59] rakeshmick commented on #21
mvn clean test -DsuiteXmlFile=src/test/resources/SampleSuite.xml -DSELION_SELENIUM_RUN_LOCALLY=true

Try running with the -DSELION_SELENIUM_RUN_LOCALLY=true.
I got it running fine with this. Selion is looking for a remote grid, so you can just specify it to run locally.

[2015-02-26 07:28] yunw opened #74 "fault handling on the browser parameter value"
In case users didn't add asterisk in the browser parameter of the suiteXmlFile:

[code]

 NPE will throw without indication:

[code]

We should handle the exception to indicate the user mistakes.

[2015-03-02 21:41] #71 closed, assigned to nobody

[2015-03-02 22:16] mach6 commented on #74
This is fixed with the latest code. Furthermore, the code is now tolerant of `BROWSER = "chrome"`. Meaning the `*` is no longer required in the config value..

[2015-03-02 22:16] #74 closed, assigned to nobody

[2015-03-04 00:01] rakeshmick opened #76 "Getting started documentation"
I was  going through the getting started document of Selion.
http://paypal.github.io/SeLion/html/documentation.html#getting-started

In that,  the mvn command to run the test suite is  given as
just mvn clean test -DsuiteXmlFile=src/test/resources/SampleSuite.xml,
but that  did not help me and it was throwing some error.
I had to add -DSELION_SELENIUM_RUN_LOCALLY=true, It would be great if you can

[2015-03-04 19:15] mach6 commented on #76
The line `<parameter name="runLocally" value="true"/>` in the `SampleSuite.xml` shown on the getting-started page accomplishes the same thing. The only difference is hard-coded configuration (in the suite file) vs. configuration specified at runtime (as JVM system property)

perhaps you missed this line?

[2015-03-04 19:15] #76 closed, assigned to nobody

[2015-03-18 07:23] renelux opened #81 "Code-Generator: Add support for custom elements"
We would like to add support for custom elements in the CodeGenerator. We would like to handle webpages that are build with ExtJS and if you look at for [example](http://dev.sencha.com/deploy/ext-4.0.0/examples/form/fieldcontainer.html) their drop down list. You will see that the default implementation is not going to work.

For us to be able to use our best practices for web automation we would l

[2015-03-23 06:16] mach6 opened #83 "Files ending in .YML is also YAML"
Issue reported via email.

SeLion does not allow for .yml files even though they too are YAML documents.

[2015-03-23 06:37] mach6 commented on #83
The fix is merged.

[2015-03-23 06:37] #83 closed, assigned to mach6

[2015-03-24 20:27] mach6 opened #84 "Code-Generator produces code which will not compile when PageYaml document resides in src/main/resources/GUIData"
- [x] If you put a PageYaml document in the top-level folder under src/main/resources/GUIData, the code-generator will produce a corresponding class with and invalid `package` declaration -- it will end with a `.`
- [x] Also, the site documentation http://paypal.github.io/SeLion/html/documentation.html#what-is-code-generator, bullet 2 under "Put the SeLion Code Generator in Action" is mis-leading.

[2015-03-24 22:46] mach6 commented on #69
this is merged.

[2015-03-24 22:46] #69 closed, assigned to nobody

[2015-03-26 06:33] ysecaran commented on #84
@mach6 I am looking into this

[2015-04-01 20:00] mach6 commented on #84
fix is merged

[2015-04-01 20:00] #84 closed, assigned to nobody

[2015-04-21 07:24] mach6 commented on #81
Closing this issue. #91 is tracking the outstanding documentation need for this enhancement

[2015-04-21 07:24] #81 closed, assigned to nobody

[2015-04-21 21:07] #49 closed, assigned to nobody

[2015-04-21 23:29] #38 closed, assigned to nobody

[2015-04-29 22:40] mach6 commented on #64
Complete with this commit: https://github.com/paypal/SeLion/commit/2ec483908efb52b2f0dabf6942e2e15733c7af83

[2015-04-29 22:40] #64 closed, assigned to nobody

[2015-05-01 18:02] #14 closed, assigned to nobody

[2015-05-07 05:09] ysecaran commented on #35
@sundaramrajendran had already provided documentation for the SeLion stand alone jar.
@mach6 What else needs to addressed here w.r.t to "Document usage of files"?

[2015-05-07 05:55] ysecaran commented on #72
I am looking into this

[2015-05-11 17:56] #39 closed, assigned to nobody

[2015-05-12 01:06] #72 closed, assigned to nobody

[2015-05-19 22:46] #73 closed, assigned to nobody

[2015-05-20 00:14] mach6 commented on #36
This is addressed with this commit https://github.com/paypal/SeLion/commit/08b90ec46df420e843e4dce617d6415d15e9a0bf

[2015-05-20 00:14] #36 closed, assigned to nobody

[2015-05-20 00:44] #35 closed, assigned to nobody

[2015-05-21 09:36] mach6 opened #103 "SeLion "client" still uses org.json library."
There is still some lingering code in SeLion "client" using org.json. We need to move it to gson.

[2015-05-27 22:07] mach6 opened #105 "Rename test zip files in SeLion Grid code"
The following location has zip files name "InternationalMountains" but in fact these are just dummy zip files. Because the application InternationalMountains is a real app, we need to rename these dummy zip files and update the tests.

https://github.com/paypal/SeLion/tree/develop/server/src/test/resources/artifacts/userOne

[2015-05-27 22:10] mach6 opened #106 "The source code for the PageObjects demo apps is not available."
We need to publish the source for the test app "Page Objects" (both ios and android version).
https://github.com/paypal/SeLion/tree/develop/client/src/test/resources/apps

[2015-05-28 22:36] mach6 opened #107 "References to MobileReporter and WebReporter in SeLion docs must be updated."
There are several examples where refer to `MobileReporter` and `WebReporter` in the SeLion docs. These classes no longer exist. They were consolidated into `SeLionReporter`

[2015-05-29 21:30] #107 closed, assigned to nobody

[2015-06-02 05:18] mach6 opened #108 "Add LICENSE file to resulting jars"
The jar files should have a copy of the LICENSE file in them.

[2015-06-23 01:18] squash-merge opened #110 "Display start time, end time and/or duration of each test in RuntimeReporter HTML report."
The data about start time, end time for each test is present in the report.json. Need this to be displayed on the rendered HTML report.

[2015-06-23 18:18] pearlselvan opened #111 "Unable to launch the app from HTTP URL path"
Unable to launch the app from HTTP URL path  .

Below is the SeLion code snapshot using appium as mobile node type

public class SeLionConsumerApp {
    private static final String appFolder = "http://seliongrid:4444/grid/admin/TransferServlet/release/ios_demo.app.zip";
    @MobileTest(appPath = appFolder, device = "iphone:8.1", deviceType = "iPhone Simulator")
    @Test
    public void testNative

[2015-07-01 16:56] squash-merge commented on #111
Fixed in commit id ec507e3823569ebf6c1b11879930b871cfe4a034

[2015-07-01 20:28] mach6 commented on #111
this is fixed

[2015-07-01 20:28] #111 closed, assigned to nobody

[2015-07-05 19:33] mach6 opened #116 "Update documentation on SeLion dataproviders"
The documentation for SeLion's dataproviders is a bit stale. The API methods have changed slightly and there is now a dataprovider for JSON and XML.

This issue is to update the following;
- [ ] Add documentation for XML dataprovider - http://paypal.github.io/SeLion/html/java-docs/client-apis/com/paypal/selion/platform/dataprovider/impl/XmlDataProviderImpl.html
- [ ] Add documentation for JSON dat

[2015-07-08 19:42] mach6 commented on #106
closed with this commit https://github.com/paypal/SeLion/commit/b1bf7e4f3d59bd87989842053789eda40549685d

[2015-07-08 19:42] #106 closed, assigned to nobody

[2015-07-10 21:15] mach6 commented on #105
fixed with this commit https://github.com/paypal/SeLion/commit/a7e3f194f35b60f045d9c54a6d85ecdb5a32b345

[2015-07-10 21:15] #105 closed, assigned to nobody

[2015-07-21 19:09] #103 closed, assigned to mach6

[2015-07-21 20:57] mach6 opened #126 "Upgrade to selendroid 0.16.0"
Selendroid 0.16.0 was recently released -- https://github.com/selendroid/selendroid/releases/tag/0.16.0

[2015-07-21 20:59] mach6 commented on #66
This change no longer applies.

[2015-07-21 20:59] #66 closed, assigned to nobody

[2015-07-23 05:57] krmahadevan opened #127 "Enhance SeLion to start supporting BrowserStack targetted runs"
Request from one of the SeLion users,

SeLion currently doesn't support remote executions that are targeted against BrowserStack.

We would need to enhance SeLion to start providing support for BrowserStack as well.

For more details please refer to this forum thread

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/selion/0ZR-OesRM1o/IVIXCLyUDggJ

[2015-07-23 07:31] SudhakaraPeram opened #128 "Update documentation for 'customCapabilities' at http://paypal.github.io/SeLion/html/documentation.html#selion-config"
## Existing information at http://paypal.github.io/SeLion/html/documentation.html#selion-config

TestNG Suite file config value:   customCapabilities
JVM argument config value:  SELION_SELENIUM_CUSTOM_CAPABILITIES_PROVIDER:
Scope: GLOBAL
## Description: Use this parameter to provide SeLion with a custom listener which can be plugged into EventFiringWebDriver. If the fully qualified class implement

[2015-07-23 15:50] renelux opened #129 "SeLion Grid does not get shutdown after run when using runLocally=true"
After the change with running locally the server is not getting shutdown correctly when the run is finished. When I run another grid is getting started which at some points leads to multiple running grid's which use up all system resources.

<img width="1373" alt="screen shot 2015-07-23 at 8 46 04 am" src="https://cloud.githubusercontent.com/assets/1439270/8854933/4f9d341e-3117-11e5-81f0-66288b024

[2015-07-23 15:56] renelux commented on #129
This issue only occurs when there is another SeLion Grid is already started manually.

[2015-07-23 18:52] renelux opened #130 "SeLion unable to run with runLocally=true"
When running locally with is runLocally=true isElementPresent will always throw an exception. This error is related to the change in runLocally.

[code]

[2015-07-23 18:55] renelux commented on #130
Stacktrace:

[code]

[2015-07-23 21:02] pearlselvan commented on #130
Hi ,

Please use the Button button = new Button ("css=#am-i-visible") instead Label label = new Label("css=#am-i-visible"); ..because no label component available in home page : http://paypal.com

[2015-07-24 07:14] ysecaran commented on #130
@renelux  Can you help reproducing the issue? I am not able to with the latest code in develop.

[2015-07-24 07:25] mach6 commented on #129
@renelux I don't follow. Are you first using SeLion-Grid-jar-with-dependencies to start a hub on the local machine and then ALSO running with runLocally=true on the SeLion "client" side? if so, then yes, I can see how this will create an issue -- it's not a scenario that we expect.

[2015-07-24 07:27] mach6 commented on #128
Hi @SudhakaraPeram Thank you for the suggestion! Would you like to submit a pull request for the change? If so that would be awesome! If not, that's okay too. :)

[2015-07-24 07:29] SudhakaraPeram commented on #128
Sure I'll do in a day. Thanks!

[2015-07-24 07:37] mach6 commented on #127
This should already work. You set the `-DSELION_SELENIUM_HOSTNAME=username:automatekey@hub.browserstack.com` and the `-DSELION_SELENIUM_PORT={correct port}` .. Please re-open this ticket if that's not the case.

[2015-07-24 07:48] mach6 commented on #130
@renelux Hi Rene, I don't see how this could be related to the changes to runLocally.. Rather, I suspect it is something else.. Can you try downgrading back to Selenium 2.45.0 for instance?

much like @ysecaran I'm unable to reproduce this.

[2015-07-24 09:56] krmahadevan commented on #127
@mach6

BrowserStack seems to follow a different convention when it comes to forming the RemoteWebDriver URL
`public static final String URL = "http://" + USERNAME + ":" + AUTOMATE_KEY + "@hub.browserstack.com/wd/hub";`

SeLion on the other hand employs the below format to form the URL to construct a RemoteWebDriver URL [ See https://github.com/paypal/SeLion/blob/develop/client/src/main/java/com/p

[2015-07-24 14:50] mach6 commented on #127
If you set the port to 80 it should work. It works when I run against Saucelabs in this fashion.

[2015-07-24 15:18] mach6 commented on #127
@krmahadevan  The URL RFC allows for `//<user>:<password>@<host>:<port>/<url-path>`, so I doubt the exception would be `java.net.MalformedURLException` --- http://tools.ietf.org/html/rfc1738

[2015-07-24 16:11] renelux commented on #129
So the situation only occurs when there is another grid running on the machine. Problem is that the Grid gets started again (which does not work as port 4444 is already taken), but the process doesn't get killed and it ends up taking all CPU.

I know it is not an expected scenario, but can't you detect if there is a grid running and throw a error or a warning when that occurs? Or just connect to t

[2015-07-24 16:12] renelux commented on #130
I just heard back from some team members and they resolved it by adding the selenium-server dependency to our POM.

[code]

[2015-07-24 18:59] SudhakaraPeram commented on #127
@mach6, @krmahadevan,
I have tried passing parameters as per @mach6 suggestion, it seems tests are routing to BrowserStack. Thanks for your help!

Now I need to set few extra capabilities (like OS Version, browserstack.debug, browserstack.local, etc) for all browsers, to do the same do I need to write my own class by extending DefaultCapabilitiesBuilder ? or is there anyway that I can pass them JV

[2015-07-25 20:36] SudhakaraPeram commented on #127
@krmahadevan, @mach6,
Never mind, I was able to figure out how to pass custom capabilities using BeforeMethod annotation.

Thanks for your help!

[2015-07-26 02:06] mach6 commented on #127
@SudhakaraPeram interesting. There is an `additionalCapabilities` property for the `WebTest` annotation. I would have used that. I'm curious how you managed to do this in a `BeforeMethod`... Will you share the code snippet?

Also, can we close this issue now?

[2015-07-26 02:09] mach6 commented on #130
@renelux yes. As things stand now, you need to add the `selenium-server` dependency if you expect SeLion `client` to spin up a local hub + node which is what happens when `runLocally=true`

[2015-07-26 02:09] #130 closed, assigned to nobody

[2015-07-26 03:27] mach6 opened #132 "Maven dependency problems for users of selion client"
Since the 2.46.0 upgrade, this issue can happen because conflicting `servlet-api` dependencies are transitively brought in.

[code]

[2015-07-26 03:28] #132 closed, assigned to mach6

[2015-07-26 07:05] SudhakaraPeram commented on #127
@mach6 you can close this issue now.
I'm making use of ITestResult object (example shown in `ExtendedConfig`), here is my code snippet.
I've not tested this code with sharing test session across test methods.

[code]

I need to enhance this to work for all types of platforms and browsers.
I prefer above one if it works for tests that are sharing test session as I don't end up in writing `additiona

[2015-07-26 21:37] mach6 commented on #127
@SudhakaraPeram Ah yes! I forgot we had that option too! :)  Thanks.

[2015-07-26 21:37] #127 closed, assigned to nobody

[2015-07-27 07:03] SudhakaraPeram commented on #128
@mach6 Submitted pull request, can you please review. Thanks!

[2015-07-28 16:08] renelux opened #134 "NullPointerException in closeTestSession when @BeforeMethod fails"
In the latest version of SeLion there is a NullPointer exception showing up when the test session gets closed. This only occurs when the @BeforeMethod fails.

Exception:

[code]

Code to reproduce:

[code]

[2015-07-30 10:18] leilei2015 opened #137 "java.lang.NoClassDefFoundError: org/openqa/grid/common/exception/GridException"
![image](https://cloud.githubusercontent.com/assets/13569938/8980976/25774bb8-36e7-11e5-9e09-6b83f5fadf8d.png)
How to solve this issue?

07.30.2015 18:06:47.883,[1] com.paypal.selion 信息 Runtime Report : D:\workspace\mgAutoTest\target\surefire-reports\RuntimeReporter\index.html
07.30.2015 18:06:48.065,[1] com.paypal.selion 信息 JDK Information: Java HotSpot(TM) 64-Bit Server VM from Oracle Corporatio

[2015-07-30 13:27] fakrudeen78 commented on #137
could you pls add following dependency in your project pom and see if it
helps

<dependency>

[code]

With Regards,
Fakrudeen

On Thu, Jul 30, 2015 at 3:48 PM, leilei2015 notifications@github.com
wrote:

[2015-07-30 15:57] mach6 commented on #137
Minor correction: You will need selenium-server 2.46.0 or you will run into other issues.

[2015-07-30 19:33] #137 closed, assigned to nobody

[2015-07-30 22:40] #128 closed, assigned to nobody

[2015-07-31 02:57] leilei2015 commented on #137
Thanks , Fakrudeen . The issue has been solved.That`s great! ;  Thanks mach6!

[2015-07-31 20:21] mach6 commented on #129
@renelux will make a change to guard against port already in use.

[2015-07-31 21:47] mach6 commented on #134
Also the Configuration method is not shown as failed in the `RuntimeReporter`

For example;

[code]

should render a `RuntimeReport` with the following details;

[code]

instead it renders;

[code]

[2015-08-05 23:07] #129 closed, assigned to mach6

[2015-08-05 23:07] #134 closed, assigned to mach6

[2015-08-10 20:30] mach6 opened #143 "@WebTest parameters are not considered when sharing sessions"
If you run the following code, the `@WebTest` annotation parameters are ignored;

[code]

[2015-08-10 21:08] mach6 commented on #143
Note: `@MobileTest` probably has the same bug.

[2015-08-11 00:03] reachkrishnaraj opened #144 "Support "Date" date type in ExcelDataProvider"
The framework doesnt seem to handle the "Date" data type in ExcelDataProvider. I see the following error when trying to read a class that contains a field that belongs to "Date" type.

Below is the stacktrace.

I understand there are changes required in the "com.paypal.selion.platform.dataprovider.AbstractExcelDataProvider.prepareObject" method and trying for a fix.

In the meantime, any pointers

[2015-08-12 06:02] #143 closed, assigned to sebady

[2015-08-12 07:31] ysecaran commented on #144
@reachkrishnaraj
Please elaborate the use case and also share some sample data for me to understand this further.
Also, what is it that you are going to use this date for?

[2015-08-12 07:34] sundaramrajendran commented on #144
@reachkrishnaraj Please try to use the String data type in POJO to load the date value from excel and use SimpleDateFormat to convert to date format.

[2015-08-12 18:54] reachkrishnaraj commented on #144
Hi folks, sorry, the Date data type is support and was able to test it. Closing the issue.

[2015-08-12 18:54] #144 closed, assigned to nobody

[2015-08-17 03:16] leilei2015 opened #149 "A required class was missing while executing com.paypal.selion:SeLion-Code-Generator:1.0.0-SNAPSHOT:generate: org/apache/commons/lang/StringUtils"
[code]

![image](https://cloud.githubusercontent.com/assets/13569938/9297390/57ce4556-44d1-11e5-86fb-ccca62467ef3.png)
![image](https://cloud.githubusercontent.com/assets/13569938/9297393/724758e6-44d1-11e5-8fea-7a9ac7338b55.png)

How to solve this issue?

[2015-08-17 03:17] leilei2015 commented on #149
[code]

[2015-08-17 03:17] leilei2015 commented on #149
[code]

[2015-08-17 08:56] mach6 commented on #149
@leilei2015 I'm not able to reproduce this issue. However, I do notice the following things in your project POM which I'd recommend you fix and try again.
1. Your `pluginRepositories` setting should be the following if you want maven to resolve to the latest SeLion Code Generator plugin

[code]
1. You do not need to add `commons-lang3` as a dependency. SeLion will pull that dependency down.

[2015-08-17 10:10] leilei2015 commented on #149
Thanks  mach6！

[2015-08-17 10:10] #149 closed, assigned to nobody

[2015-08-17 22:51] squash-merge commented on #110
Yes, a user has requested this to be displayed on the rendered HTML report. This time information would come handy to this user in troubleshooting test failures due to possible environment failures.

[2015-08-18 12:46] ysecaran commented on #32
@mach6 : I am getting this done. Will send out a pull request after testing

[2015-08-20 09:20] mach6 commented on #32
This was fixed with #151

[2015-08-20 09:20] #32 closed, assigned to nobody

[2015-08-20 12:51] mach6 opened #152 "RuntimeReporter TreeView selection does not reset pagination"
To reproduce this issue;
1. View a result set which takes up multiple pages.
2. Goto the last page
3. Goto TreeView and select a result set which takes up fewer pages (1 for example)
4. Observe the report is refreshed and no test results are shown.
5. Goto the first page, and now the results are shown.

It seems the TreeView needs to reset to page 1 when something is selected.

[2015-08-20 12:51] mach6 commented on #152
@sundaramrajendran fyi

[2015-08-25 13:39] #152 closed, assigned to nobody

[2015-08-28 23:53] #110 closed, assigned to nobody

[2015-08-29 00:31] #116 closed, assigned to nobody

[2015-08-31 19:04] sgyyz opened #156 "Grid is Null when use Grid in @Beforexxx"
As I see the SeleniumGridListener, there is a method to check the invoked method is test method or not, but I think there are something missing. When we use the currently session or create a new session in the @BeforeXXX methods, it won't create a new session.

This situation will be used for some common actions before the test case method.

Hope it will be fixed later.

[2015-08-31 20:45] mach6 commented on #156
@sgyyz

By design, we do not support session manipulation in `@BeforeXXX` or `@AfterXXX` for non-session shared tests (the typical use case).

This said, there is an open ask/bug to add support (access to a non-null Grid object) for `@BeforeClass` and `@AfterClass` when session sharing (http://paypal.github.io/SeLion/html/documentation.html#webdriver-sessions-sharing) is used -- which I am looking

[2015-09-02 02:30] mach6 opened #158 "method parameter shown as 'undefined' in RuntimeReporter html output"
When you view the 'Reporter Output' or the 'Stacktrace', in the RuntimeReporter html output, if the test method has no parameters, the UI shows the method parameters as `com.foo.bar.TestClass.testMethod(undefined)`

Instead, it should be `com.foo.bar.TestClass.testMethod()`

[2015-09-02 04:37] ysecaran opened #159 "Update Documentation for Page YAML for web, ios and android"
With the recent changes to code generator and the client module. The page elements inside a page will be initialized on demand. As part of these changes there were major refactor that affects the current documentation making it out of sync. This task focuses on updating the same.

[2015-09-02 19:03] sgyyz commented on #156
@mach6
This is one of the solution, I think some time we should extract these operations in to the abstract class, and then the sub class will extend from the super class. so we should use the `@BeforeClass` and `@AfterClass`. The common operation such as login before these, logout after logout. Also maybe suite for `@BeforeMethod`, `@AfterMethod` and the other annotation in TestNG.

I think that

[2015-09-02 20:46] mach6 opened #162 "Upgrade to Selenium 2.47.1"
We need to upgrade to SeLion to Selenium 2.47.1 and it's compatible components.

[2015-09-02 22:50] #159 closed, assigned to nobody

[2015-09-07 19:07] #156 closed, assigned to mach6

[2015-09-07 19:07] #158 closed, assigned to mach6

[2015-09-08 16:07] mach6 commented on #108
closed with this commit - https://github.com/paypal/SeLion/commit/86bddae59eaddc17b65763815e9c51f634468630

[2015-09-08 16:07] #108 closed, assigned to nobody

[2015-09-10 00:51] mach6 opened #167 "ClassCastException occurs when connected node does not use SeLionRemoteProxy"
When there is a node which does not use `SeLionRemoteProxy` connected to a SeLion enhanced hub/server a `ClassCastException` will occur in `GridForceRestartDelegateServlet` and `GridAutoUpgradeDelegateServlet`

[2015-09-10 01:15] mach6 opened #169 "Upgrade to TestNG 6.9.4"
The latest version of TestNG is 6.9.4

[2015-09-11 21:19] #167 closed, assigned to mach6

[2015-09-18 01:27] #126 closed, assigned to nobody

[2015-09-18 01:27] #162 closed, assigned to nobody

[2015-09-18 01:27] #169 closed, assigned to nobody

[2015-09-25 06:53] mach6 opened #178 "Incorrect filename in documentation for SeLion-Grid"
In this document -- http://paypal.github.io/SeLion/html/documentation.html#selion-grid -- the incorrect jar file is mentioned.

Rather than downloading and starting `SeLion-Grid-{version}.jar`, the document should be pointing to `SeLion-Grid-{version}-jar-with-dependencies.jar`

[2015-09-27 05:53] tqu007 opened #179 "java.lang.NoClassDefFoundError: org/openqa/grid/common/exception/GridException"

[2015-09-27 05:55] #179 closed, assigned to nobody

[2015-09-28 22:36] mach6 opened #180 "Session sharing for `@MobileTest` requires the annotation on both the class and the methods"
When you session share for a `@MobileTest` the annotation is required with every `@Test` annotation. This is not the intended design and is not consistent with approach when session sharing a `@WebTest`

Example code which works, but should not;

[code]

Example code which does not work, but should;

[code]

[2015-10-01 23:05] mach6 opened #184 "code-generator does not work for PageYaml with "android" platform"
From http://paypal.github.io/SeLion/html/documentation.html#android-native-page-yaml

This (corrected with ending `"` on locators) example PageYaml does not work

[code]

the resulting error is

[code]

[2015-10-01 23:05] mach6 commented on #184
@ysecaran FYI

[2015-10-01 23:57] mach6 commented on #184
The workaround for this is to add the SeLion supported elements as custom elements in the code-generator plugin config of your project pom -- See section "Configuration Parameters for Customizing the Code Generator Maven Plugin" in http://paypal.github.io/SeLion/html/documentation.html#what-is-code-generator

[code]

[2015-10-02 01:36] mach6 commented on #180
fixed with https://github.com/paypal/SeLion/commit/b979d9c0c03241555d947ae43bed757c92ffe92a

[2015-10-02 01:36] #180 closed, assigned to nobody

[2015-10-02 20:17] #184 closed, assigned to nobody

[2015-10-02 20:19] mach6 commented on #184
this is fixed with 78c88f2

[2015-10-08 07:12] mach6 opened #187 "Add mcirosoft 'edge' support to SeLion"
Selenium 2.47.1 introduces some support for Microsoft Edge.

SeLion does not have it as a `BrowserFlavor` -- https://github.com/paypal/SeLion/blob/19b037cf1130675f32a74a9b7b8301701493f5ea/client/src/main/java/com/paypal/selion/platform/grid/BrowserFlavors.java

SeLion should be enhanced to support it.
- [x] add support in 'client'
- [x] add support in 'server'
  - support for .msi file in automati

[2015-10-08 07:12] mach6 commented on #178
this is fixed with this commit https://github.com/paypal/SeLion/commit/0854d951c961fdce1016afe147653ce9f0ac27ee

[2015-10-08 07:12] #178 closed, assigned to nobody

[2015-10-10 03:44] sebady opened #188 "NullPointerException When using driver from new thread"
@Test()
 @WebTest(browser = "*phantomjs")
    public void testDriverFromNewThread() {
            new Thread(new Runnable() {
                public void run() {
                    // inherit driver created on webtest?
                    Grid.driver().get(url);
                }
            }).start();
        }

[2015-10-13 16:12] mach6 commented on #188
@sebady This is sort-of by design. That said, we should probably do a better job guarding against this and throw something a bit nicer than a `NPE`. Do you agree?

[2015-10-13 16:56] sebady commented on #188
I wanted to look at this and see if it is possible to support this.    If not then a better exception might be called for here.

[2015-10-13 16:57] mach6 commented on #188
Okay. Sounds good

[2015-10-20 21:04] pearlselvan opened #191 "Update SeLion documentation and Sample iOS/android MobileTest Cases to Run On the Sauce Cloud"
The following capabilities require to pass in SeLion annotation level to run the mobile test cases on the Sauce Cloud

"appiumVersion:1.4.3"

Currently its missing in Documentation page : http://paypal.github.io/SeLion/html/documentation.html#getting-started-mobile .

Sample iOS / android mobile test cases :
https://github.com/paypal/SeLion/blob/develop/client/src/test/java/com/paypal/selion/andro

[2015-10-21 04:04] mach6 commented on #191
The archetype examples probably also need to be updated in this area -- https://github.com/paypal/SeLion/tree/develop/archetype/src/main/resources/archetype-resources/src/test/java/sample/selion

[2015-10-21 04:07] mach6 opened #192 "Issue during build (with test) on Java 8"
These two test failures are happening in the `DataProviders` component when Java 8 is used to build.

[code]

[2015-10-21 04:09] mach6 opened #193 "Upgrade to Selenium 2.48.2, chromedriver 20, and IEDriver 2.48"
There are new versions of these artifacts. SeLion should be upgraded.

[2015-10-21 04:11] mach6 commented on #193
I started this work here -- https://github.com/mach6/SeLion/commits/dsimmons-selenium-2.48

Need to figure out which servlet-api should be used. `selenium-server` includes both `servlet-api-2.5` and `javax.servlet-api-3.1.0` which conflict with each other.

[2015-10-21 04:20] mach6 opened #194 "DesiredCapability `name` should be set from the class name when session sharing."
In SeLion when someone is using the session sharing capability, the `name` desiredCapability, which is used to identify the test name associated with the request, is populated from the method which starts the WebDriver (`Grid`) session.

Since session sharing tests are encapsulated in an java class, the class name should be used instead.

E.g. -- Given this simple session sharing scenario;

[code]

[2015-10-27 18:42] mach6 opened #196 "Upgrade to selendroid 0.17.0"
There is a new version of selendroid.

[2015-10-27 18:53] mach6 opened #197 "Update artwork"
There is new artwork for;
- [x] RuntimeReporter `selion-horiz-notag.svg`
- [x] SeLion icon - http://paypal.github.com/

Add SeLion artwork to;
- [x] SeLion "grid  management console"

Consider creating new artwork for;
- [x] favicon on http://selion.io

[2015-10-27 19:02] #194 closed, assigned to nobody

[2015-10-27 20:25] mach6 commented on #197
RuntimeReporter change - https://github.com/paypal/SeLion/commit/dcc2d9426a5e795f1770c0c200dc5bd856801e7a

[2015-10-27 20:41] mach6 commented on #197
PR submitted for paypal.github.com - https://github.com/paypal/paypal.github.com/pull/18

[2015-10-30 23:03] mach6 commented on #192
fixed with https://github.com/paypal/SeLion/commit/1a9bf4f6e95e5682a50f345f69c8f1920fac8673

[2015-10-30 23:03] #192 closed, assigned to nobody

[2015-10-30 23:27] #196 closed, assigned to nobody

[2015-10-31 00:28] squash-merge opened #203 "SeLion-Archetype buildtest fails with Maven 3.3.3 on Windows OS."
Message is : [INFO]   Maven invocation failed. Error configuring command-line. Reason: Maven executable not found at: D:\installed\apache-maven\bin\mvn.bat

Root cause is the executable in Maven 3.3.3 is mvn.cmd whereas the one in Maven 3.2.3 is mvn.bat.

[2015-10-31 00:29] squash-merge commented on #203
{ selion } develop » mvn -v                                                                       /d/workspace/sources/selion
Apache Maven 3.3.3 (7994120775791599e205a5524ec3e0dfe41d4a06; 2015-04-22T04:57:37-07:00)
Maven home: D:\installed\apache-maven
Java version: 1.7.0_45, vendor: Oracle Corporation
Java home: C:\java\jdk7\jre
Default locale: en_US, platform encoding: Cp1252
OS name: "windows 7

[2015-10-31 01:12] squash-merge commented on #203
References: https://issues.apache.org/jira/browse/MNG-5792

[2015-10-31 01:43] mach6 commented on #203
seems the fix is to move to a newer version of the invoker plugin.. we are on `1.8`. the latest is `2.0.0`

[2015-11-03 02:37] mach6 opened #204 "Add gitter sidecar to documentation site."
Perhaps we should add this widget in the footer of http://selion.io.. Of course we'll likely want to minimally customize the button

https://sidecar.gitter.im/

[2015-11-03 02:38] mach6 commented on #191
closed with commits
https://github.com/paypal/SeLion/commit/a2a68fd8e0be82eac469118a118edec7aeab7e01 https://github.com/paypal/SeLion/commit/2d2d20d6ba959d3030eeaec70317335d542dcf06

[2015-11-03 02:38] #191 closed, assigned to nobody

[2015-11-04 18:02] pearlselvan opened #208 "Upgrade to Appium java-client version to 3.2.0"
There are new versions of Appium java-client version . SeLion should be upgraded.

[2015-11-06 19:32] mach6 commented on #34
Commit https://github.com/paypal/SeLion/commit/cd3f5bd54cd326cd123a8e41638a09a0a685d33d added feedback when a node is scheduled for a restart.

[2015-11-11 22:06] mach6 commented on #203
fixed with commit https://github.com/paypal/SeLion/commit/37ab3def18d6db26287c241689a4d4037ec574c6

[2015-11-11 22:06] #203 closed, assigned to nobody

[2015-11-11 22:06] mach6 commented on #208
fixed with commit - https://github.com/paypal/SeLion/commit/8da51a3922020deb38274cfb0316aa60b326d127

[2015-11-11 22:06] #208 closed, assigned to nobody

[2015-11-11 22:07] mach6 commented on #193
fixed with commit - https://github.com/paypal/SeLion/commit/37ab3def18d6db26287c241689a4d4037ec574c6

[2015-11-11 22:07] #193 closed, assigned to nobody

[2015-11-16 16:30] sebady opened #216 "SeLionSauceProxy should be more resilient to SauceLabs REST API failures"
SeLionSauceProxy should be more resilient against SauceLabs REST API failure. The proxy in getNewSession() method holds a lock when calling getNumberOfTCRunning().
    public TestSession getNewSession(Map<String, Object> requestedCapability) {
...
            accessLock.lock();
...
            if (getNumberOfTCRunning() <= maxTestCase) ...
...

Also GET method requests from getSauceLabsRestApi() u

[2015-11-18 23:50] squash-merge opened #217 "SeLion documentation example need pom update"
http://paypal.github.io/SeLion/html/documentation.html#getting-started page has an example which runs a web browser test locally.
However local run requires SeLion-Grid and SeLion-Server libraries. These are not included in the pom, hence #137 shows up.
The example needs update to the pom.xml.
Also the button id needs update.

[2015-11-20 00:34] #217 closed, assigned to nobody

[2015-12-02 22:16] pearlselvan opened #219 "Updating SeLion documentation for JVM argument for SeLion Mobile App path"
Required to update SeLion Document for app path which configurable in JVM argument
http://paypal.github.io/SeLion/html/documentation.html#selion-config

Note : This information is available in http://paypal.github.io/SeLion/html/documentation.html#getting-started-mobile

[2015-12-04 00:12] mach6 opened #220 "String 'selion-hub-storage:' is not converted when mobile 'appPath' is provided outside the MobileTest annotation."
This logic only happens when the value is passed via the annotation;

https://github.com/paypal/SeLion/blob/develop/client/src/main/java/com/paypal/selion/internal/platform/grid/MobileTestSession.java#L180-L194

[2015-12-10 06:48] DuaneOBrien opened #224 "File missed during the copyright update."
The file client/src/main/java/com/paypal/selion/testcomponents/BasicPageImpl.java looks like it didn't get an updated copyright holder after the split.

[2015-12-10 07:44] #224 closed, assigned to nobody

[2015-12-14 20:27] #220 closed, assigned to nobody

[2015-12-14 23:33] mahivelu opened #226 "UiObject.setText() calls UiObject.clearText(), but SeLionAppiumAndroidDriver's setText already uses its cleartext()"
Since SeLionAppiumAndroidDriver's setText already uses cleartext it is redundant to call UiObject.clearText() from UiObject.setText().

[2015-12-23 03:17] renelux opened #227 "Native Support for iFrames"
Please look at the following proposal for adding support for iFrames to SeLion. We are running into the issue where some pages contain an iframe that we need to interact with. We usually create a separate page object and switch to the frame before interacting with it.

This works but our test cases start to look a little more messy, as we can't rely on all the features of SeLion anymore.

Proposal

[2015-12-23 03:23] renelux commented on #227
@mach6 can you please look at it. If approved I can work on it :smile:

[2015-12-23 06:01] sundaramrajendran opened #228 "SeLion is not considering DesiredCapabilities configured via TestNG Listener defined in plugin"
Steps to reproduce the issue:

1) Create an Sample project which has TestNG listener IInvokedMethodListener implemnted to configure the DesiredCapabilities. Sample code

 @Override
 public void beforeInvocation(IInvokedMethod invokedMethod, ITestResult tr) {
   Proxy proxy = getProxy();
   DesiredCapabilities desiredCapabilities = new DesiredCapabilities();
   desiredCapabilities.setCapability(Cap

[2015-12-23 21:25] mach6 commented on #228
@sundaramrajendran personally, I don't see the need for injecting `ExtendedConfig.CAPABILITIES` into the TestNG attributes to accomplish the goal here. We have support for a custom capabilities provider - https://github.com/paypal/SeLion/blob/develop/client/src/main/java/com/paypal/selion/configuration/Config.java#L447-L453 and support for `additionalCapabilities` on the `@WebTest` and `@MobileTes

[2015-12-23 21:37] mach6 commented on #227
@renelux Other than the `Config` need, I think you could accomplish this with a custom element. That said, I can see the value of having support for something like this in the SeLion code. My only suggestions are to;
1. Consider putting a solution that more generically solves the problem for anything where a call to `driver.switchTo().window(handle)` is needed.
2. Let's think of it more genericall

[2015-12-25 09:50] sundaramrajendran commented on #227
ztrf99879
On 24-Dec-2015 3:07 am, "Doug Simmons" <notifications@github.com> wrote:

[2015-12-30 01:32] jscherle opened #229 "Unable to create android element of type UiTextView"
We are getting an error when trying to generate Android page objects that contain "UiTextView" elements.  It appears the code generator is looking for an element with the name "UiTextField" instead of "UiTextView":  https://github.com/paypal/SeLion/blob/develop/codegen/src/main/java/com/paypal/selion/elements/AndroidSeLionElementList.java

[2016-01-11 00:30] #226 closed, assigned to nobody

[2016-01-11 00:30] #229 closed, assigned to nobody

[2016-01-12 10:36] ysecaran commented on #204
i just tried this. The style of the button by itself comes from the .js file specified
https://sidecar.gitter.im/dist/sidecar.v1.js
 What is the customization required for the button?

[2016-01-13 06:24] sundaramrajendran commented on #228
We can add additional capabilities via SELENIUM_CUSTOM_CAPABILITIES_PROVIDER config, so this issue is not valid.

[2016-01-13 06:24] #228 closed, assigned to nobody

[2016-01-13 06:49] ysecaran commented on #204
@mach6 I was able to get this added in footer at home page and the other pages too, but there seems to be slight delay in loading the page when clicking through the links on the right to view specific topics.
I will send out a pull request. Do let me know if it holds good.

[2016-01-13 21:30] mach6 opened #232 "Upgrade to Selenium 2.52.0"
Selenium 2.49.1 is now available - http://docs.seleniumhq.org/download/

[2016-01-13 21:32] mach6 opened #233 "Upgrade to appium java-client 3.3.0"
appium java-client 3.3.0 which depends on selenium 2.48.2 is available.

[2016-01-13 21:37] mach6 opened #234 "Update java samples on selion.io which use old imports"
With the 1.0.0 release we relocated many classes to the `internal` package.

There are several java samples on http://paypal.github.io/SeLion/html/documentation.html which uses pre-1.0.0 `import` statements.

These examples need to be updated.

[2016-01-13 21:39] mach6 commented on #34
@ysecaran closing this per my previous comment. 1.0.0 included provisions for this.

[2016-01-13 21:39] #34 closed, assigned to nobody

[2016-01-14 12:10] sundaramrajendran opened #235 "ListAllNodes Throws NullPointerException When There is no Accept Header in Request"
SeLion Grid ListAllNodes servlets throws NullPointerException when there is no accept header in the request.

[2016-01-14 23:35] #235 closed, assigned to nobody

[2016-01-19 05:25] ysecaran commented on #219
The changes are done and there is an outstanding pull request.

[2016-01-25 23:18] #204 closed, assigned to nobody

[2016-01-25 23:18] #219 closed, assigned to nobody

[2016-01-28 19:28] mach6 commented on #216
@sebady closing this due to the following commits. please re-open if more work remains.

https://github.com/paypal/SeLion/commit/c8a816c086612d3fd27450e969ec189a84b8a682
https://github.com/paypal/SeLion/commit/c9818dc264a38da56dcfcc4eb75a54e1ae3c4ec6

[2016-01-28 19:28] #216 closed, assigned to nobody

[2016-02-02 06:08] mach6 commented on #232
Now 2.50.1 is available.

[2016-02-10 00:12] SudhakaraPeram opened #244 "Printing debug info about browser taking ~75 sec or more on BrowserStack, need a way to turn it off"
DriverFactoryHelper.printDebugInfoForUser is taking ~75 sec or more on BrowserStack which is huge impact on automation suites in terms of time and this is obstacle for us to scale our automation.

DriverFactoryHelper.printDebugInfoForUser is being called from WebDriverFatory:
https://github.com/paypal/SeLion/blob/develop/client/src/main/java/com/paypal/selion/internal/platform/grid/browsercapabili

[2016-02-10 00:26] mach6 commented on #244
Note: @SudhakaraPeram asked to also contribute the change here. 😊

[2016-02-10 01:45] mach6 commented on #187
closed with #240, #242, and #212

[2016-02-10 01:45] #187 closed, assigned to nobody

[2016-02-19 08:46] mach6 opened #247 "SauceConfigChangeServlet does not account for new config values."
In commit https://github.com/paypal/SeLion/commit/c8a816c086612d3fd27450e969ec189a84b8a682#diff-539385979410bcb0ea67d7844d24456b there were new config values added to `SauceConfigReader`..

If these values are present in the `SAUCE_CONFIG_FILE` when someone uses `SauceConfigChangeServlet`, they will be lost.

`SauceConfigChangeServlet` needs to be updated to allow these values to be specified or a

[2016-02-19 08:48] mach6 commented on #244
@SudhakaraPeram closing this issue since your changes are merged. Hopefully you are seeing an improvement in the latest 1.1.0-SNAPSHOT :)

[2016-02-19 08:48] #244 closed, assigned to nobody

[2016-02-19 08:50] mach6 commented on #232
Now 2.52.0 is available

[2016-02-19 10:07] mach6 opened #248 "Sauce Grid Console homepage template has an inconsistent look"
The look and feel of the sauce grid console homepage does not match that of the non-sauce grid one. See attached.

Non-Sauce grid console;
![image](https://cloud.githubusercontent.com/assets/3238999/13172471/193aa668-d6ad-11e5-87b3-00e01eec419f.png)

Sauce grid console;
![image](https://cloud.githubusercontent.com/assets/3238999/13172451/ec2e6ea2-d6ac-11e5-86ce-0b18bae92e1e.png)

The Sauce version

[2016-02-19 23:27] mach6 commented on #247
@sebady fyi

[2016-02-20 20:58] SudhakaraPeram commented on #244
@mach6 Yes, we are seeing an improvement in total execution time. Thanks!

[2016-02-24 01:10] #248 closed, assigned to nobody

[2016-02-24 01:56] mach6 commented on #197
https://github.com/paypal/SeLion/commit/71470ae360bb1d9a38e5828511b4bdfb103d2a1b adds artwork to the grid management console.

closing this

[2016-02-24 01:56] #197 closed, assigned to mach6

[2016-02-25 23:33] mach6 opened #252 "FileExtractor#getExecutableNames fails on Windows 10"
This change broke the mentioned method -- https://github.com/paypal/SeLion/commit/379872cc06bdf5f4bae221c397e64abb0e4212cd#diff-4926659960fb939909378dc955c38e0b in 1.1.0-SNAPSHOT

[2016-02-25 23:35] mach6 opened #253 "MicrosoftWebdriver.msi download location is invalid"
The location specified in the default download.json for SeLion 1.1.0-SNAPSHOT is invalide

[2016-02-25 23:37] mach6 opened #254 "SeLion's ability to self-launch Selenium > 2.48.2 servers is broken"
This is due to a change in the selenium code base.

[2016-02-25 23:37] mach6 commented on #254
issue impacts SeLion 1.0.0 released version

[2016-02-26 00:07] mach6 commented on #253
I have already fixed this locally. PR is pending

[2016-02-26 00:07] mach6 commented on #254
I have already fixed this locally. PR is pending

[2016-02-26 00:07] mach6 commented on #252
I have already fixed this locally. PR is pending

[2016-03-01 03:12] alizelzele opened #257 "documentation-broken link"
In documentation for [PageYAML for Android app automation](http://paypal.github.io/SeLion/html/documentation.html#android-native-page-yaml) `The list of supported Android elements` link is broken.

the list can be found in the [Source code](https://github.com/paypal/SeLion/tree/develop/client/src/main/java/com/paypal/selion/platform/mobile/android).

[2016-03-01 04:26] mach6 commented on #257
@alizelzele thanks for the heads up. The correct link should be http://paypal.github.io/SeLion/html/java-docs/1.0.0/client-apis/com/paypal/selion/platform/mobile/android/package-summary.html

If you would like to contribute the pull request for this, please let us know.

[2016-03-01 17:25] #257 closed, assigned to nobody

[2016-03-01 17:25] mach6 commented on #257
@alizelzele this is fixed.

[2016-03-02 04:17] #232 closed, assigned to nobody

[2016-03-02 04:17] #233 closed, assigned to nobody

[2016-03-02 04:17] #252 closed, assigned to mach6

[2016-03-02 04:21] mach6 commented on #254
this is fixed in the latest 1.1.0-SNAPSHOT

[2016-03-02 04:21] #254 closed, assigned to mach6

[2016-03-02 04:21] mach6 commented on #253
this is fixed in the latest 1.1.0-SNAPSHOT

[2016-03-02 04:21] #253 closed, assigned to mach6

[2016-03-04 09:56] alizelzele opened #259 "using same interface for IOS and ANDROID Elements"
I was wondering if there is any specific reason that you separate `android` and `ios` platform's Elements from each other? why not using the same interface for both of them, with some specific functions on each of them; and using interfaces names in yaml files?

Maybe a yaml reader version 3 will be required to handle different locators for each platform in each specific languages? Usually you wan

[2016-03-04 22:36] mach6 commented on #259
Hi @alizelzele,

SeLion's `ios` and `android` elements are modeled after Apple's support in UI Automation and Google's support in uiautomator.

See;
-  https://developer.android.com/reference/android/support/test/uiautomator/UiObject.html
-  https://developer.apple.com/library/prerelease/ios/documentation/DeveloperTools/Reference/UIAutomationRef/index.html

I understand your concerns w.r.t testing

[2016-03-04 22:38] mach6 commented on #259
@alizelzele closing this github issue for now. Please re-open if you have further questions or see a need to. Please also feel free to ask questions via our Google group and Gitter channel

[2016-03-06 18:55] mach6 opened #260 "SeLion-Grid FileDownloader does not support proxy connections"
Add support to download over proxy connections to `FileDownloader.java` in SeLion-Grid

[2016-03-06 20:12] mach6 opened #261 "HtmlElementUtils.locateElements throws `Unsupported locator` message when no elements are returned"
If you use `HtmlElementUtils.locateElements` and pass a valid locator but one that returns no matches, a `NoSuchElementException` is thrown with the message `Unsupported locator` -- which is actually incorrect.

For example, this error is displayed when no matches occur. The locator is supported by Selenium. The error message is inaccurate

[code]

the problematic code (with inaccurate comment) is

[2016-03-07 10:39] alizelzele commented on #259
Hi @mach6 ,

I think this design aligns with the Appium principle and is required for testers cause they usually have to test the same application on both `Android` and `IOS`.

To implement this feature, we need to have below changes:
1. Create mobile elements interfaces, and make the existing elements of Android & iOS implement it.
2. code generator.
   a) new template files support new interface

[2016-03-07 22:23] mach6 commented on #259
@kumaravel-jayakumar I would appreciate your feedback here.

[2016-03-07 23:21] renelux commented on #259
To be able to support this we would have to create separate yaml reader and page implementation to support mobile. Wouldn't it be possible to support this feature through custom elements? This way it could be made into a module where the end user can decide if they want to use it or not.

In the end the fact that you need to test both apps and that the app are very similar is not necessarily true.

[2016-03-08 06:36] alizelzele commented on #259
@renelux
if we want to do this with custom elements, we will face the problem again with multi platforms and separate page objects cause that is how selion behaves right now.

I was thinking the exact same way on the start about style guide of each platform and so, but after checking some of the applications, i find out that they are usually behaving the same way and there is not a big difference

[2016-03-11 20:54] mach6 commented on #259
Hi @renelux my first inclination too was to propose a custom element. While I think it would be possible to some extent, it could get messy w.r.t the locators for the custom element in the PageYAML.. One would have to introduce their own parsing logic in each custom element to identify the part of the locator to be considered for `platform=android` and the part to be considered for `platform=ios`.

[2016-03-11 20:56] mach6 commented on #259
And BTW.. Thank you for taking this change on! :)

[2016-03-14 03:56] alizelzele commented on #259
@mach6 I was wondering about the way the page-yaml-file should be and how to parse it (using a new reader or extending the existing one), but i think i found the best way to do it i will change it a bit more and create a PR.

[2016-03-17 11:11] ken-jiang commented on #259
@mach6 the code for this is almost done. Will you create a patch branch for testing and review? or @alizelzele  submits the pull request to develop branch?

[2016-03-18 03:40] mach6 commented on #259
Hi @ken-jiang the contribution approach is documented in our https://github.com/paypal/SeLion/blob/develop/README.md

Yes, in this case a pull request to the develop branch is what we need.

Once submitted, it will trigger the CI build for the pending PR and a review -- which will be conducted by myself, other project admins such as @sebady and @sundaramrajendran, and anyone else in the community

[2016-03-18 10:33] kumaravel-jayakumar commented on #259
@alizelzele

Sorry for my delayed response. I really appreciate your work and contribution towards SeLion. To answer you initial question "I was wondering ... specific reason ... separate android and ios platform's Elements " over @mach6 reply. iOS test automation engineers (coming from Javascript) are familiar with a unique set of widgets and gestures (UIAElement, UIAButton & tap(), doubleTap(),

[2016-03-20 18:51] mach6 opened #262 "Add support for Marionette"
Marionette will replace the "legacy" `FirefoxDriver`.

https://developer.mozilla.org/en-US/docs/Mozilla/QA/Marionette/WebDriver

[2016-03-29 21:17] mach6 opened #266 "[INVALID] Issue with embeded saucelabs url in report"
SeLion will embed a saucelabs url in the report when running against sauce. The current url is `String.format("https://saucelabs.com/jobs/%s?auth=%s", sessionid, encodedToken);`  which seems to be incorrect according to - https://wiki.saucelabs.com/display/DOCS/Embedding+Test+Results+in+HTML+Pages

[2016-03-30 01:42] mach6 commented on #266
Update: the old path `/jobs` still works too.

Code in question: https://github.com/paypal/SeLion/blob/develop/client/src/main/java/com/paypal/selion/internal/platform/grid/SauceLabsHelper.java#L113-L125

Perhaps the issue I was seeing is when SeLion is running through the SeLion Enhanced Grid with `-type sauce`..  trying this...

[2016-03-30 04:28] mach6 commented on #266
Well, I can't reproduce the issue with SeLion Enhanced Grid (`-type sauce`) either..  This might be an invalid issue that I initially saw here. Will close this after some more digging, if that ends up being the case.

[2016-03-30 17:13] sebady opened #267 "Grid self healing should cleanup temp files left by Selion or browsers."
Grid node self healing should cleanup /tmp files left upon browser, node shutdown.
Some example files in /tmp are directories with uuid names, anonymous webdriver profiles etc.

256ed1f9-8aae-4b07-bf33-06bf1a52786f/
. . .
anonymous4623780548331041862webdriver-profile/
..

[2016-03-30 18:07] mach6 commented on #267
I'm not sure I agree that this should be a capability of the SeLion Grid "self healing".. How would it identify a file in `/tmp` that is left over by Selenium, FFDriver, other grid forked processes from one that is not? This should be the function of a maintenance script/activity which is run out of band.

[2016-03-30 19:06] sebady commented on #267
The self healing is fully aware of when the browsers / tests are running and therefore is the ideal place to cleanup these tmp files that are related to browsers.

[2016-03-30 19:45] mach6 commented on #267
Okay, yes it  knows when/what browsers are launched, but I don't see it.  How do you map to the correct files in /tmp? Are you proposing we monitor /tmp for changes with each browser invocation?  Is there an  API that tells us which/where the temp profile exists so we can delete it?

[2016-03-30 20:18] sebady commented on #267
You can monitor /tmp but I think a simpler cleanup process is possible.   Wait till all tests have finished/stopped and browsers terminated during self healing then remove these directories:

/tmp/anonymous*webdriver-profile

Or simply call:
TemporaryFilesystem.getDefaultTmpFS().deleteTemporaryFiles()

The main disadvantage here is this assume(s) one SeLion node process is running.

[2016-03-30 23:45] mach6 commented on #266
issue here was the `selenium host` was not actually sauce and the config parameter `-DSELION_SELENIUM_USE_SAUCELAB_GRID=true`  was used. This produced an invalid sauce report link, as it should

[2016-03-31 01:49] #266 closed, assigned to mach6

[2016-04-06 20:24] dmfranko opened #270 "Starting a node fails to download phantomjs"
When I try and start a node I'm running into errors when it tries to get phantomjs.  I believe there's some issues with phantomjs and ghostdriver anyhow.

`java -jar selenium-server-standalone-2.53.0.jar -role node -hub http://localhost:4444/grid/register`

Apr 06, 2016 4:15:32 PM com.paypal.selion.grid.FileDownloader downloadFile
INFO: Downloading from https://bitbucket.org/ariya/phantomjs/downlo

[2016-04-06 20:51] mach6 commented on #270
http 403 here indicates that you have been forbidden access to the target url. does your firewall block access to https://bbuseruploads.s3.amazonaws.com ?

[2016-04-06 20:54] dmfranko commented on #270
Doesn't appear to be a firewall message.  I can't access it from either my work network or a cell network.

[2016-04-06 20:57] mach6 commented on #270
hmm.. yes. the link you were redirected to (the amazonaws one) indeed doesn't work for me either.. However, the primary link (which is what SeLion has in the {selionhome}/config/download.json file) works for me -- which means I'm getting redirected to a valid location.

[2016-04-10 17:55] #247 closed, assigned to nobody

[2016-04-11 20:58] mach6 commented on #270
@dmfranko interestingly enough I ran into this today too. As a work-around you can download the zip from a browser and place it in your `{selionHome}/downloads/` folder, then start the node.

For example:

[code]

Also fyi, if you are using Selion-1.1.0 SNAPSHOT we have moved to phantomjs 2.1.1 with this recent commit https://github.com/paypal/SeLion/commit/aee2ab4b6f5bd9416222ee93f90143fc0c1e42fa

[2016-04-11 20:58] #270 closed, assigned to nobody

[2016-04-15 20:38] mach6 opened #273 "AdditionalSauceCapabilitiesBuilder always sends selenium version"
There are use cases where someone might want to specify a different selenium version or no selenium version. The capability builder needs to account to these.

[2016-04-20 07:49] squash-merge opened #274 "Request support for multiple local run tests on shared environments."
When a test is already running with -DSELION_SELENIUM_RUN_LOCALLY=true, trying to run another test on the same machine fails to start with error that the hub port 4444 is already in use.

This happens in shared environments, and in environments where there is already a grid setup but a need arises to test with locally spawned grid. (See #129).

[2016-04-21 17:09] mach6 opened #276 "Upgrade to appium java-client 3.4.1"
there is a newer version which is more compatible with selenium 2.53.0

[2016-04-25 13:01] senthillkumar opened #279 "New upgraded release to maven"
Hi, When will be the new upgraded version of selion will be published in maven in order to update the selenium 2.53.0

[2016-04-25 15:51] mach6 commented on #279
Please ask questions on gitter or our google group.

There is no planned release date. This said, I'm hoping we will get 1.1.0 out by mid May. There is a few items tagged for that revision that need completion.

[2016-04-25 15:51] #279 closed, assigned to nobody

[2016-04-25 19:52] mach6 opened #281 "Move to commons-configuration 2.x"
It would be nice to move SeLion-Common to apache commons-configuration 2 and with it remove our dependency on commons-lang 2.. This change would require some refactoring. See https://commons.apache.org/proper/commons-configuration/userguide/upgradeto2_0.html

[2016-04-25 21:28] #276 closed, assigned to nobody

[2016-04-26 04:35] #274 closed, assigned to nobody

[2016-05-10 02:40] mach6 opened #284 "Code-generator does not allow you to place PageYAML in test resources path"
There is a bug where the code-generator expects to pick up PageYAML in `src/main/resources`. This is considered a bug as it will result in all PageYAML files (unless they are filtered out) ending up in the non "test" package (jar/war) -- which a user may or may not want to do.

[2016-05-10 02:50] mach6 opened #285 "Code-generator always outputs to target/generated-sources"
if you bind code-generator to the `generate-test-sources` phase it should output to the `target/generated-test-sources` directory. In addition, the plugin should allow the user to override the output location.

Steps to reproduce: Use this xml in the project pom.

[code]

[2016-05-10 22:17] mach6 opened #286 "Code-generator does not allow you to place *Ext.java classes in src/test/java"
If a person want's to limit their `{PageObject}Ext.java` classes to the `src/test/java` (test) scope, the code generator will not consider them.

The code-generator plugin should allow for PageObject classes to be limited to 'test' only code.

`CodeGeneratorMojo#sourceDir()` is the root of the issue here.

[2016-05-11 01:27] mach6 opened #288 "Update code-generator documentation"
PR #287 will introduce changes that need to be reflected on the site.

[2016-05-11 08:01] mach6 opened #289 "SeLion archetype should use test scope"
Since SeLion is a test framework, the archetype new project `pom.xml` should default to `<scope>test</scope>` for SeLion.jar dependency and code generation.

[2016-05-12 21:18] #284 closed, assigned to nobody

[2016-05-12 21:19] mach6 commented on #285
fix merged with #287

[2016-05-12 21:19] #285 closed, assigned to nobody

[2016-05-12 21:19] mach6 commented on #286
fix merged with #287

[2016-05-12 21:19] #286 closed, assigned to nobody

[2016-05-15 19:28] #289 closed, assigned to nobody

[2016-05-16 22:34] mach6 opened #291 "ConfigProperty#GUI_DATA_DIR default should be "pageyaml""
The current default value for the mentioned `ConfigProperty` as of `v1.0.0` is `GUIDataDir`.

The `1.1.0-SNAPSHOT` `archetype` example project pom.xml uses the value `pageyaml`.

As a result, a person must explicitly set `-DSELION_GUI_DATA_DIR=pageyaml` or `<property name="GUIData" value="pageyaml" />` in a testng suite file to use the generated source that comes with the archetype

I propose SeLi

[2016-05-17 11:41] knadendla opened #292 "Gradle Integration"
Hi

I have gradle project setup and i would like to integrate Selion features..  please let me know if there is sample integration is done...

[2016-05-19 03:40] sebady commented on #292
Hi,

SeLion depends on testng as the suite/test runner. So build integration via gradle should be straight forward here for test executions using gradle java plugin with testng.  This assumes the test Project is not using SeLion code generator (which will require additional gradle customization here to use page yaml).

A sample build.gradle file like this (should work if project does not use page

[2016-05-19 03:42] mach6 commented on #292
@sebady thank you!
@knadendla Closing this for now. Please re-open if you have further questions or also feel free to ask them on our gitter.im channel

[2016-05-19 03:42] #292 closed, assigned to nobody

[2016-05-24 01:38] mach6 commented on #291
I have had a change of heart.. Closing this issue.

[2016-05-24 01:38] #291 closed, assigned to nobody

[2016-05-27 00:24] #261 closed, assigned to nobody

[2016-06-09 05:33] deepakshrma commented on #42
Facing same issue..

Error log:

[code]

[2016-06-09 07:13] rohittyagi83 commented on #42
Hi,

You can use selenium-server-standalone-2.53.0.jar and Fire fox version
45.0.2 . This is working fine on my machine.

Thanks,
Rohit Tyagi

On Thu, Jun 9, 2016 at 11:03 AM, Deepak Vishwakarma <
notifications@github.com> wrote:

##

Regards,
_Rohit Tyagi_

[2016-06-09 07:15] rohittyagi83 commented on #42
Also use this attached webconfig file configuration

Start Selenium server command: java -jar
selenium-server-standalone-2.53.0.jar -role hub
Start Node command: java -jar selenium-server-standalone-2.53.0.jar -role
wd -hub http://localhost:4444/grid/register -nodeConfig <path to
webconfig.txt >

On Thu, Jun 9, 2016 at 12:43 PM, Rohit Tyagi rohit.tyagi83@gmail.com
wrote:

##

Regards,
_Rohit Tyagi

[2016-06-09 10:32] deepakshrma commented on #42
I know that i have to update selenium jar. I updated selenium server version in pom.xml. Now it throwing error related to what you have mention above.. I dont know how to run these command. I m just following step mention in getting started doc.()  [getting-started](http://paypal.github.io/SeLion/html/documentation.html#getting-started)
It is working fine in chrome browser

[code]

[2016-06-09 10:36] rohittyagi83 commented on #42
Did you started hub on your machine.
First start the hub from command line : run this command java -jar
selenium-server-standalone-2.53.0.jar -role hub
Second: Start the node on your machine: open command prompt and execute
this command : java -jar selenium-server-standalone-2.53.0.jar -role wd
-hub http://localhost:4444/grid/register -nodeConfig <path to webconfig.txt

Then execute any of the sel

[2016-06-09 10:44] deepakshrma commented on #42
Yes, i did!!  got error.

[code]

These are the command that is have used till now...

[code]

[2016-06-09 10:49] rohittyagi83 commented on #42
You can  change the port from 4444 to 4445.

Also put below content in webconfig.txt file (You can place this file any where in your system)
`{
"capabilities":
    [
        {
            "browserName":"firefox",
            "acceptSalCerts":true,
            "javascriptEnabled":true,
            "takeScreenshot":true,
            "firefox_profile":"",
            "maxInstances":20
        },

[2016-06-09 11:08] deepakshrma commented on #42
I tried with same config.. I m not sure what happening..

#Create Project
 mvn archetype:generate -B -DartifactId=eqx-web-automation-se -Dversion=1.0.0 -DgroupId=com.equinix.webautomationse  -DarchetypeGroupId=com.paypal.selion -DarchetypeArtifactId=SeLion-Archetype -DarchetypeVersion=1.0.0

#Server

#Run
mvn clean test -DsuiteXmlFile=src/test/resources/SampleSuite.xml

[2016-06-09 11:14] rohittyagi83 commented on #42
First start the server: You starting the node first. Follow below steps:
1. java -jar selenium-server-standalone-2.53.0.jar -role hub
2. java -jar selenium-server-standalone-2.53.0.jar -role wd -hub http://localhost:4445/grid/register -nodeConfig webconfig.txt
3. See above I have changed the port from 4444 to 4445.

Also paste the error in your next comment if any.

[2016-06-09 11:26] deepakshrma commented on #42
Hi Rohit, That was written in  wrong sequence. However i tried in same sequence that you have mention. :( Got same exception. May me some setting in test case suite

[code]

Or may be some proxy setting ?? coz what i see from logs. when i run server command.

[code]

I changed register url, still result same.

[code]

[code]

[2016-06-09 11:31] rohittyagi83 commented on #42
You are still using the 4444. I said use 4445 to start the node. Execute below command without changing anything. Also paste me error you got on command prompt where you are running node.

java -jar selenium-server-standalone-2.53.0.jar -role wd -hub http://localhost:4445/grid/register -nodeConfig webconfig.txt

I saw your above response "Selenium Grid hub is up and running" that means your Hub is

[2016-06-09 11:42] deepakshrma commented on #42
[code]

If you don't mind, Kindly share your gamil, so that i can share my screen.

[2016-06-09 11:46] rohittyagi83 commented on #42
Please check the network setting to find why a node can't reach the hub (firewalls,
proxy).

[2016-06-09 11:47] deepakshrma commented on #42
Thanks man, I will check it and share if i will find any resolution.

[2016-06-09 12:28] rohittyagi83 commented on #42
Try to use both the command and see if anyone of them can work:

java -jar selenium-server-standalone-2.53.0.jar -role webdriver -hub http://localhost:4444/grid/register -browser browserName=firefox -maxSession 1

java -jar selenium-server-standalone-2.53.0.jar -role webdriver -hub http://localhost:4446/grid/register -browser browserName=firefox -maxSession 1

[2016-06-09 17:46] mach6 commented on #42
All,

Please be aware that there are multiple options in SeLion for connecting-to / starting a selenium server.
1. Start a `selenium-standalone` instance and point SeLion to it with the JVM arguments or ENV variables `SELION_SELENIUM_HOST`=`{hostname, no default}` and `SELION_SELENIUM_PORT`=`{port, default 4444}`. You can also specify these via the testng suite file in a hard-coded fashion wth `<p

[2016-06-10 03:50] deepakshrma commented on #42
Thanks to all. I resolve the issue reading these document
[http://paypal.github.io/SeLion/html/documentation.html#selion-grid](http://paypal.github.io/SeLion/html/documentation.html#selion-grid)
[https://groups.google.com/forum/#!msg/selion/eRoaeUta5m8/P-cS55okBQAJ](https://groups.google.com/forum/#!msg/selion/eRoaeUta5m8/P-cS55okBQAJ)

I had to remove runLocally parameter. So that it runs already

[2016-06-20 22:03] brandontineo opened #300 "injecting javascript to exercise tap() doesn't work with Appium 1.5 and beyond"
Using javascript to exercise tap instead of using touchActions throws an error with versions of Appium 1.5 and beyond (1.5.2, 1.5.3).

Related to:
https://github.com/appium/appium/issues/6132

[2016-06-21 19:34] ILikeToNguyen opened #301 "Everytime a button or link is clicked, INFO is printed out to console with the browser"
Everytime a button or link is clicked, INFO is printed out to console with the browser.  Its a bit noisy to constantly print out the browser type every time an element is clicked.

[2016-06-22 00:08] #301 closed, assigned to nobody

[2016-06-28 16:13] mach6 commented on #300
I recommend we fix this after the 1.1.0 release

[2016-06-28 16:14] mach6 commented on #300
@brandontineo Are you still planning to submit a PR for this? Thanks!

[2016-07-06 13:31] Moustakas42 opened #305 "Reporter stopped working"
At some point the RuntimeReporter stopped generating itself. The screenshots are there but they don't get used. Does anyone else have that problem? Attaching POM.
[pom.zip](https://github.com/paypal/SeLion/files/349850/pom.zip)

[2016-07-08 03:05] nirsch opened #306 "SeLion-Code-Generator generates custom element incorrectly when defined in a Container"
I am experiencing weird behavior when a custom HTML element is defined within a Container of a PageYAML file.  The resulting generated code incorrectly generates the getter for that element at the Page level instead of the Container level.  The object mapping for the element exists within the Container mapping (as expected).  Calling the getter at the Page level (as currently generated) results in

[2016-07-08 06:54] mach6 commented on #305
@Moustakas42 I can't open the zip file. It seems to be invalid.

The `RuntimeReporter` can be disabled via the system property `enable.runtime.reporter.listener` and a value of `false`. Are you sure the setting to do this was not specified?

It can also get disabled if you are building an uber jar and/or overriding the `META-INF/services/org.testng.ITestNGListener` file that is packaged with the S

[2016-07-08 06:54] mach6 commented on #305
@sebady fyi

[2016-07-08 07:06] mach6 commented on #306
@nirsch Yes, that is weird. Will you please share the snippet of your PageYAML that reproduces this issue and the SeLion version you are using? FYI - here is an example source file with container markup - https://github.com/paypal/SeLion/blob/develop/client/src/test/resources/GUIData/paypal/TestPage.yml

@sebady fyi

[2016-07-09 02:30] nirsch commented on #306
I'm experiencing the issue in 1.0.0 and 1.1.0-SNAPSHOT. I start from the archetype and base the  information below on version 1.1.0-SNAPSHOT. The custom element (called TestCustom) is designed as documented in the [code gen](http://paypal.github.io/SeLion/html/documentation.html#what-is-code-generator) documentation.

The PageYAML:

[code]

Snippet of SeLion generated code:

[code]

Test code:

[c

[2016-07-09 14:17] sebady commented on #306
@nirsch Thanks for the reproducible here.  This does appear to be a bug.

[2016-07-12 08:47] alizelzele commented on #300
@mach6 selion use scripts a lot for IOS, Is there any specific reason for that?

I am going to work on support appium 1.5.x by removing those scripts and replacing them with appium commands; Anything i should consider?  Any suggestion?

[2016-07-12 23:39] sebady commented on #234
All imports on the SeLion sample java files on gh-pages appear to be up to date and using the correct package.

[2016-07-12 23:39] #234 closed, assigned to nobody

[2016-07-13 03:30] mach6 commented on #305
@Moustakas42  I'm going to close this question based on no response. Please feel free to open it if you have an update, etc.

[2016-07-13 03:30] #305 closed, assigned to nobody

[2016-07-13 03:33] mach6 commented on #300
@alizelzele using js injection was more reliable at the time. Now, that the appium community is taking a different course, we must, in turn, adjust.  It looks like the `TouchActions` api is now the preferred approach. If you want to pick up this PR, that would be awesome.

FYI - I had a preliminary conversation with @sebady about this issue. We agreed that any fix would be merged AFTER SeLion 1.1.

[2016-07-13 22:48] #288 closed, assigned to sebady

[2016-07-14 16:55] #259 closed, assigned to nobody

[2016-07-18 12:26] Moustakas42 commented on #305
I'm sure we haven't tweaked any of these settings... From our POM:

`
    <repositories>
        <repository>
            <id>sonatype-nexus-snapshots</id>
            <url>https://oss.sonatype.org/content/repositories/snapshots</url>
        </repository>
    </repositories>

[code]

[2016-08-09 22:32] mach6 commented on #262
@sebady can we close this or should we wait until we move to Selenium 3?

[2016-08-09 22:36] sebady commented on #262
Closing.  The client and server have Marionette support now.

[2016-08-09 22:36] #262 closed, assigned to nobody

[2016-08-09 22:38] mach6 opened #310 "Move develop branch to SeLion 2.0.0 / Selenium 3"
The current develop branch should move to a `develop-1.2.0` branch to track fixes will we do to the Selenium 2.x compatible version of SeLion.

Afterwards;
- The `develop` branch needs to track SeLion 2.0.0 which will be forward-looking and Selenium 3.x compatible.
- New features should only be done on the `develop` branch with the only exception(s) being the new commit(s)  (marionette support) al

[2016-08-09 22:39] mach6 commented on #310
@sebady fyi, selenium 3.0-beta2 is available on maven. We can setup the branches and start the work as planned.

[2016-08-09 22:42] sebady commented on #310
Yippee! Do we have a change log of what's changing in selenium 3?

[2016-08-09 22:44] mach6 commented on #310
This is a start -- https://raw.githubusercontent.com/SeleniumHQ/selenium/master/java/CHANGELOG

[2016-08-09 23:22] mach6 commented on #310
There will be quite a few compilation things to address in the SeLion `server` component, for starters. Places, where we will have to move to the new path. Also, these `server` changes likely are not going to be compatible with our ios-driver and selendriod support in the `server` component -- at least until those projects also move ahead to selenium 3.x

[2016-08-24 05:17] SridharDayalan1986 opened #312 "Please help me to disable persistant hover in internet explorer driver."
Please find the below code, still i am see the persistent hover is enabled in the driver info. Please check and revert.

[code]

public void CXOLogin() throws IOException, InterruptedException {

[code]

public void CXOAdminTestwithData(userMaintenanceDAO usrMaintnceData)
            throws Exception {

[code]

}

[2016-08-24 16:32] sebady commented on #312
Can you please add the version of IE and IEDriver you are using here.

[2016-08-25 05:36] SridharDayalan1986 commented on #312
I am using IE - 9 and the IEDriver Version s 2.53.0
Note: we have also tried the same IEDriver with IE11 as well. Still the mouse hovering issue exist, even when try to disable the enable persitant hover, we are getting it as true in driver info in the console logs. Please check and revert

[2016-08-30 02:30] mach6 commented on #312
`Grid.driver()` returns / provides access to the raw webdriver api's

Therefore, this feels very much like a selenium issue/concern not a SeLion one.
Have you searched / reached out to the standard Selenium support channels?

[2016-08-30 03:11] sebady commented on #312
The above doesn't really fully demonstrate how you are updating the desired capabilities to set ENABLE_PERSISTENT_HOVERING to "false" etc.

Please consult this page
http://paypal.github.io/SeLion/html/documentation.html#additional-selenium-caps
and provide more detail on how you are setting these additional capabilities

[2016-08-31 14:29] SridharDayalan1986 commented on #312
public class CXOAdminFunctionalTest {

[code]

}

We have passed and verified through Selion Asserts, falgs are set, But the in the console we hvae driver info record which the below values, still the hover is not working fine.

Console:
Build info: version: '2.53.0', revision: '35ae25b1534ae328c771e0856c93e187490ca824', time: '2016-03-15 10:43:46'
System info: host: 'UK-BI-VM-WS015', ip: '10.166.

[2016-08-31 14:31] SridharDayalan1986 commented on #312
Mouse Hover code:
    public static void Additemdes(userMaintenanceDAO usData) throws InterruptedException, IOException {
        cxoHomePage = new CxoHomePage();
        adminpage = new adminPage();
        itemdesdet = new ItemDescriptionDetail();
        itemdessrc = new ItemDescriptionSearchPage();
        adminpage.getAdminLink().hover();
        adminpage.getUsermenuMaintenanceLink().hover()

[2016-09-01 06:45] SridharDayalan1986 commented on #312
when i have tried with driver instaed of grid.driver(), its working fine. we are getting this hovering issue only when we use selion grid.

[2016-09-01 17:56] mach6 commented on #312
@SridharDayalan1986 Will you please provide the working example so we can look into this at greater detail?

[2016-09-02 05:45] SridharDayalan1986 commented on #312
Hi please find below the working example.

public class CortexOnline {
    private static final WebDriver webdriver = null;
    private static InternetExplorerDriver driver;
    static String driverPath = "C:/Users/e3017984/Downloads/";

[code]

@AfterTest
public static void logout(){
    driver.findElement(By.linkText("logout")).click();
    driver.close();
}
    @Test
    @WebTest
    public sta

[2016-09-05 08:37] alizelzele commented on #300
@mach6 sorry I was busy I did not find time to update my codes. I was not able to simulate doubleTap for IOS only by TouchActions.
I tried:

[code]

None of these 3 does the job. Am I missing anything?

p.s: do we still need tap with options?

[2016-09-06 07:59] alizelzele commented on #300
@mach6 created pull request for updating to appium 1.5 at #313 .

[2016-09-06 19:28] mvelu opened #314 "Provide an option to control the order of locators(elements) to be returned when more than one condition is met while using OR operator in the PageYAML"
Selion always picks and returns only the last element locator when two locators in OR conditions are matched and available in the Page. Need an option to Pick any matching locators based on the request from the customer.
US: "//android.widget.TextView[1]| //android.widget.TextView[2] | //android.widget.TextView[3]"
In the above case when TextView[2] and TextView[3] are available in the page, Selio

[2016-09-07 03:15] mach6 commented on #300
@alizelzele Thanks for the PR. Should we also add support for MultiTouch (see https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/touch-actions.md)?

[2016-09-07 04:15] alizelzele commented on #300
@mach6 touch and multi touch are already supported in AppiumDriver By `performTouchAction` and `performMultiTouchAction`; although they seems to not be working in double click case.
If we want to support it in Selion way, it should be implemented in the tap with options, otherwise it is already in there.

[2016-09-08 07:35] mach6 opened #318 "SeLion-Grid 1.2.0-SNAPSHOT downloads but does not extract geckodriver"
## Affects version(s)
- `develop-1.2.0` branch
- `develop` branch
## Problem description
1. The geckodriver package is properly downloaded to `<selionHome>/downloads/`
2. The geckodriver artifact **should also be** extracted to `<selionHome>/`

[2016-09-08 07:35] mach6 commented on #318
This also will need to be fixed for 2.0.0

[2016-09-08 07:43] mach6 opened #319 "There is no default SeLionConfig.json provided when role=standalone"
## Affects Version(s)
- `1.1.0`
- `develop-1.2.0`
## Problem Description

When invoking SeLion-Grid with `java -jar SeLion-Grid-jar-with-dependencies.jar -role standalone` the `SelionConfig.json` file in `<selionHome>/config/` is not used by default. This is different than when you invoke with `-role hub` and `-role node`.  Providing a `-selionConfig` works as expected, as a workaround.

[2016-09-08 07:44] mach6 commented on #319
Minor issue. Submitted for tracking purposes.

[2016-09-08 23:26] mach6 commented on #319
Targeting this fix for 1.2.0 and 2.0.0

[2016-09-08 23:39] #319 closed, assigned to mach6

[2016-09-09 17:50] #318 closed, assigned to sebady

[2016-09-13 15:04] ILikeToNguyen commented on #314
I assume the API call you are making is getLocator on webelements that extend AbstractElement such as Link, Button, etc.

Two proposals:
A. public String getLocator()
Will return the full path in yaml, so in your example it will return
 //android.widget.TextView[1]| //android.widget.TextView[2] | //android.widget.TextView[3]

B. Leave getLocator's behavior as is and create a new method, public Str

[2016-09-15 14:31] ILikeToNguyen opened #323 "Update version of TestNG to the latest"
We are currently using 6.9.10 and the latest is 6.9.12.  One fix this addresses is that SeLionAssert verify failures show as passed in the emailable-report instead of failed due to a break in 6.9.X at some point.  Setting the test result in TestNG's Reporter class so that is shows it in the emailable report is fixed in 6.9.11

[2016-09-16 18:52] mach6 commented on #323
this is fixed in `develop` and `develop-1.2.0`

[2016-09-28 20:20] mach6 commented on #310
the branch `develop` is now is based on Se3 (beta3)

[2016-09-28 20:20] #310 closed, assigned to mach6

[2016-09-28 23:14] sillpa-polasani opened #327 "UIASecureTextField is not supported in PageYAML"
### SeLion Version

All
### Component
- client
- codegen
### Expected Behavior

In the yaml file UIASecureTextField - for iOS is not supported by selion.
Password fields are of type UIASecureTextField.
### Actual Behavior
### Steps to Reproduce

[2016-09-28 23:15] sillpa-polasani commented on #327
In the yaml file UIASecureTextField - for iOS is not supported by selion.
Password fields are of type UIASecureTextField.

[2016-09-28 23:27] mach6 commented on #327
@sillpa-polasani Can `UIAElement` be used in the interim?  Also, you should be able to create a new class which extends `UIAElement` and add it as a custom element which the code generator will consider.   Course, if you're going to go that far, feel free to submit the new element class as a PR for all to use. :)

[2016-09-29 18:40] sillpa-polasani commented on #327
//UIASecureTextField[contains(@name,'Passw')]  -- this works.
But it is not working //UIAElement[contains(@name,'Passw')]  -- so extending to UIAElement  will it work ?

[2016-09-29 20:57] mach6 commented on #327
@sillpa-polasani It doesn't what matter the `locator` is. The point I was making is you should be able to do this in your PageYAML and map the element to a `UIAElement` object.

[code]

Doing this, the code generator will create the following in your page object class;

[code]

As long as the class/type `UIAElement` provides all of the functionality you need to interact with the target element in

[2016-09-29 22:37] sillpa-polasani commented on #327
got it Doug.
Thank you.

[2016-10-03 02:50] mach6 commented on #323
@ILikeToNguyen

[2016-10-03 02:53] mach6 commented on #323
@ILikeToNguyen - fyi - I'm re-opening this for follow-up. It looks like the change breaks SeLion's soft assert and session sharing. If you run the default "client" test suite there will be failures. This needs more investigation.  Hopefully, we can fix this and don't need to revert to the older version of TestNG.

[2016-10-03 06:16] Pranavm opened #328 "Not able to add more than one customCapabilities provider."
### SeLion Version

1.1.0
### Component

SeLion-Client
### Expected Behavior

Selion provides option to add one or more custom capability provider to set capabilities for the driver instance to be created. If more than one custom capability provider is present they should be separated by commas
### Actual Behavior

When more than once custome Capability provider is passed with classnames separated

[2016-10-03 17:20] mach6 commented on #328
@Pranavm thanks for finding this. Fyi, I have a pending fix in progress here - https://github.com/mach6/SeLion/commit/e59fbc2e9ad6fa4a1ed6a883b6dfcf80ee749860

[2016-10-03 17:22] mach6 commented on #328
Note: The root cause of this issue also impacts configuring >1 SeLion event listeners and >1 element event listeners

[2016-10-03 17:25] mach6 commented on #327
@sillpa-polasani did one of the suggested work-arounds work for your use case?

[2016-10-05 00:59] sebady commented on #300
fixed by #313

[2016-10-05 00:59] #300 closed, assigned to nobody

[2016-10-07 19:07] ILikeToNguyen commented on #323
Reason why our existing code doesn't throw an AssertionException for our softasserts with a bump from TestNG 6.9.10:
https://github.com/cbeust/testng/commit/8fba9498efaaec18ce23572fc5a95afb6d9554c3#diff-b3080bc9d91f177f63b5fd4d9c501364R1326
That line changed after 6.9.10.

Before it only checked that a throwable was set which we did in SeLionSoftAssert.assertAll().  Since the code when in that if

[2016-10-10 21:29] ILikeToNguyen commented on #323
Here is the Pull Request to TestNG to have it fixed at the source instead of trying to work around it.

https://github.com/cbeust/testng/pull/1198

Throwing an exception instead of setting the testResults works in the simple case of SeLionSoftAsserts when we call assertAll() directly in the test.  However, if we use SeLionAsserts.verify and rely on the listener to call assertAll() for the user, th

[2016-10-12 17:25] mach6 commented on #323
@ILikeToNguyen thanks for the update. looking forward to the TestNG version with this fix. :)

[2016-10-19 21:29] mach6 commented on #328
fixed with https://github.com/paypal/SeLion/commit/bccb9c85f0a11088c59829b11da7d39560df41d1

[2016-10-19 21:29] #328 closed, assigned to mach6

[2016-10-26 22:17] sebady opened #337 "Update geckodriver for SeLion 1.2?"
### SeLion Version

Selion 1.2

SeLion 1.x should use latest available geckodriver version supported by Selenium 2.53

[2016-10-29 16:11] sebady commented on #337
Unfortunately without this selenium fix:
https://github.com/SeleniumHQ/selenium/pull/2255

The selenium 2.53.x geckodriver support is not very usable currently.

[2016-11-01 19:41] mach6 commented on #337
@sebady Good to close this issue?

[2016-11-02 01:14] #337 closed, assigned to sebady, mach6

[2016-11-02 16:53] mach6 commented on #306
this is fixed with  c1ca533

[2016-11-02 16:53] #306 closed, assigned to nobody

[2016-11-07 06:01] parulselvan opened #345 "Excel DataProvider - Enhancement request to return value based on the field names"
### SeLion Version

All

### Steps to Reproduce

Below method is reading the values from Excel and mapping it to the POJO class based on the order in which the fields are declared in the class. We are expecting small enhancement here to map the values based on the field names in the POJO class. Here the field names will match with column names. So if we map the value by matching the field and colu

[2016-11-17 12:36] sundaramrajendran opened #346 "Provide option to disable auto screenshot taken for failed web test"
### 1.20

### Client

Due some issue in the test case selenium session got terminated. SeLion is trying to take the screenshot for the session already terminated in SeleniumGridListener.afterInvokation(), so user are getting different error than actual error. Need to have option to disable this auto screenshot taken feature.

May we can add SeLion config to decide this feature is required or not.

[2016-12-16 06:50] DaleAuto opened #348 "Does selion have a soulation about how to deal with AJAX request in my page"

[2016-12-19 21:43] mach6 commented on #348
Please ask questions like this via our gitter channel.

That said, this is more of a selenium question.

The recommended approach (and one that SeLion's page object's and elements embrace) is to interact with the page in a fashion where you look for an expectation to occur before the Selenium timeout.

In SeLion, this comes to light with `AbstractElement#click(Object ... expected)` -- [javadocs](h

[2016-12-19 21:43] #348 closed, assigned to nobody

[2016-12-21 07:59] Moustakas42 opened #349 "Dependency downloader does not work with Microsoft exe links"
On SeLion 1.2.0, substituting the Edge driver download in download.json with the new .exe link won't yield a download. Seems the downloader is configured to expect and .msi.

[2017-01-09 19:41] mengchen2 opened #350 "RuntimeReporter - Browser under testing is missing from runtime reporter. (both html and json)"
### SeLion Version
1.2.0
### Component
Runtimereporter
### Expected Behavior

### Actual Behavior

### Steps to Reproduce

[2017-02-15 20:33] claytonneal opened #351 "Question on iframes"
How do u use page yaml for a page containing iframes?

[2017-02-15 21:00] mach6 commented on #351
Create a  PageYAML file for the iframe content. Then, in the the test or a extended page object class, call `Grid.driver().switchTo().frame( ... )` prior to interacting with the frame.

What I mean by __extended page object class__ is a class file which `extends` the generated parent page object and contains the logic to `switchTo` the iframe.

Something like;

[code]

[code]

[code]

Hope this he

[2017-02-15 21:00] #351 closed, assigned to nobody

[2017-03-14 04:33] mach6 commented on #260
If you specify a `http` and `https` proxy via the following java system properties, things seem to work.

[code]

[2017-03-14 04:39] mach6 commented on #260
closing this for now.

[2017-03-14 04:39] #260 closed, assigned to nobody

[2017-03-22 20:05] ILikeToNguyen opened #352 "NullPointerException thrown from RuntimeReporter causes test to fail when utilizing TestNG successPercentage and a test doesn't fail because it is within a success percentage"
### SeLion Version
1.2.0

### Component
client

### Expected Behavior
Not to fail my test with a NPE from runtime reporter

### Actual Behavior
Happens if you have a TestNG test that results in onTestFailedButWithinSuccessPercentage
Runtime reporter throws a NullPointerException.  It is trying to read status field from the reporter's json file that written.  Reason the reporter's json file is miss

[2017-04-18 07:21] vikram1711 commented on #323
I am seeing another issue with RuntimeReporter where same test is reported twice in final report. Seems to be happening due to this [bug](https://github.com/cbeust/testng/issues/171) in testng. I tested locally on my fork with TestNG v6.10 and it seems to be working fine. I am not sure if I need to open another issue for RuntimeReporter since it is related to TestNG version upgrade?

[2017-04-18 14:19] mach6 commented on #323
@vikram1711 Confirming your find -- the current 2.0.0-SNAPSHOT version of SeLion is using TestNG 6.9.10. I have not seen the same test reported twice in the final report. Is this the version combinations you were using where you observed the behavior? Furthermore, you saw it go away with SeLion 2.0.0-SNAPSHOT and TestNG 6.10?

[2017-04-18 20:47] vikram1711 commented on #323
Ok, so I tried both Maven and TestNG eclipse plugin with v6.9.10. Maven run is working fine and I don't see any duplicates in report but when I am running the suite using eclipse plugin, I am seeing this issue.

Issue can be reproduced-
2.0.0-SNAPSHOT and TestNG v6.9.10

Issue can't be reproduced-
2.0.0-SNAPSHOT and TestNG v6.10

[2017-04-18 22:02] mach6 commented on #323
@vikram1711 Thanks for the additional details!

[2017-05-03 21:03] mach6 opened #353 "Travis CI for Firefox is broken"
### SeLion Version
2.0.0-SNAPSHOT build

### Component
Travis CI

### Expected Behavior
Travis CI completes

### Actual Behavior
Chrome install fails. So the CI build fails

### Steps to Reproduce
See - https://travis-ci.org/paypal/SeLion/jobs/220752564

[2017-05-16 17:22] khandelwalgarima opened #355 "Parameter autoscreenshot is not working for mobile"
SeLion 1.0.0 - 1.2.0

Mobile

`autoscreenshot` is the parameter that needs to be added in your suite file to record screen and you don't have to change anything in your test file.

This is working for web but not for Mobile.

[2017-05-16 21:53] mach6 commented on #355
Thanks @khandelwalgarima! Fyi - per our conversation, I have assigned this issue to you.

[2017-05-17 05:29] ibugaienko opened #356 "Better support for pages with asynchronous requests."
Hi, we are running into some issues with page validation being executed prematurely, would you please consider the following scenario:
Given 3 pages,
1. Login page (loginPage)
2. Premium user home page (premiumHomePage)
3. Standard user home page (homePage)

Suppose a user needs to provide their email/password and click a loginButton in loginPage, after which an asynchronous request is sent to a s

[2017-05-17 06:06] mach6 commented on #356
@ibugaienko Go for it! While it is not clear to me which approach makes the most sense -- though 1 seems less complicated -- I see the issue you are trying to address here and welcome a PR.

[2017-05-30 06:27] ibugaienko commented on #356
@mach6 Thank you for quick response. I have both solutions in my fork on separate branches. If you do not mind I could raise a PR for each so that you could choose which one looks most appropriate to you.
Also, please kindly note that this is the first time for me to make a contribution to an open source project so I would greatly appreciate to hear any feedback from you should you find anything r

[2017-05-30 18:07] mach6 commented on #356
@ibugaienko Not a problem. Yes, please raise a PR for each. We can review them both. In terms of contribution guidelines please review - https://github.com/paypal/SeLion#contributing if you have not already. In addition please make sure that the code does not contain any use of the `TAB` character (use four spaces instead) and has a righthand page margin of 120 characters.

[2017-06-02 20:04] elhuang opened #359 "Unable to create remote sauce session with SeLion 2.0.0-SNAPSHOT"
### SeLion Version
2.0.0-SNAPSHOT

### Component
SeLion-appium-provider

### Expected Behavior
Sauce session is successfully created.

### Actual Behavior
Sauce session responded with error message:
```Your test errored. Parameters were incorrect. We wanted {"required":["desiredCapabilities"],"optional":["requiredCapabilities","capabilities","sessionId","id"]} and you sent ["alwaysMatch","desiredC

[2017-06-02 20:05] elhuang commented on #359
Looks like an incompatibility with java-client 4.1.2 and selenium 3.x.

Requesting a selenium 2.x node did not solve the session creation issue.
https://saucelabs.com/beta/tests/7c6346000d5c4f0da9ebda3ffe8aaa4d/metadata#0

The recommendation from the appium team (ref: https://github.com/appium/appium/issues/8078) is to remove any selenium dependencies because the java-client will define which vers

[2017-06-02 21:00] elhuang commented on #359
https://github.com/paypal/SeLion/pull/360

[2017-06-05 21:57] swapnaChapara opened #361 "Selion report is showing the results twice."
### SeLion Version : 1.2.0
Testng version: 6.11

### Component

### Expected Behavior -- results should show once.

### Actual Behavior  -- results are showing twice in the report.

### Steps to Reproduce

See the screenshot. I have only 5 test cases, when i run them i could see only 5 tests ran. But when i see the report its showing as 10 tests ran with duplicates in it.
![selion_report](https://

[2017-06-05 22:02] mach6 commented on #359
PR #360 address this issue, in part.
Marking this closed for now though I expect it could resurface when SeLion moves to Selenium 3.4.0+, if we forget to also update the appium java-client version

[2017-06-05 22:02] #359 closed, assigned to nobody

[2017-06-05 22:08] mach6 commented on #361
SeLion 1.2.0 is not compatible with TestNG 6.11 please downgrade, if possible.

This is a known side affect of upgrading/changing the TestNG version .. Please see/follow #323

Please comment back if you have more to add.

Thanks!

[2017-06-06 07:38] elhuang opened #362 "No support for appium MobileBy locator types. Cannot find mobile elements by accessibility id."
### SeLion Version
2.0.0-SNAPSHOT

### Component
SeLion & SeLion-appium-provider

### Expected Behavior
SeLion platform WebElements to be located via appium [MobileBy](https://appium.github.io/java-client/io/appium/java_client/MobileBy.html) types.

### Actual Behavior
SeLion platform WebElements cannot be located by appium [MobileBy](https://appium.github.io/java-client/io/appium/java_client/Mobi

[2017-06-07 18:45] mach6 commented on #362
@elhuang Thanks for filing this. I love it when an issue is submitted with a proposal -- even more when it is followed up with a PR. :)

[2017-07-25 21:54] mach6 commented on #356
@ibugaienko closing this.. #357 and #358 are merged.

[2017-07-25 21:54] #356 closed, assigned to ibugaienko

[2017-08-04 11:34] vikramvi opened #363 "Query: Parallel & Distributed execution"
Hi,

This is generic query, so couldn't add other details per issue template

1. Does the framework supports test cases distribution with Selenium Grid scenario ?
   This is to achieve quick regression, assign test cases to available nodes and finish automation quickly

2. Does the framework supports parallel execution with Selenium Grid scenario ?
   This is to achieve compatibility testing, to t

[2017-08-04 15:53] sebady commented on #363
With SeLion the concurrency of executions is achieved via TestNG's support for parallelism.  See this page for more details http://testng.org/doc/documentation-main.html#parallel-running

The SeLion grid supports scaling out several browsers across grid nodes.  With the right configuration of browsers you can perform concurrent validation across all browsers supported by the Selion grid.

[2017-08-05 04:59] vikramvi commented on #363
@sebady by **concurrency** do you mean distribution of test cases  or running same test cases on all the nodes ?

- Does this framework has any setting to ask for parallel or distributed run ?

Thanks again.

[2017-08-05 19:13] sebady commented on #363
Only the web browsers are distributed across nodes via the Selenium/SeLion grid.  The test classes themselves are limited to the parallelism offered by TestNG.  I.e. parallel runs executing on a single client.  Usually you can setup a jenkins slave farm if you really need to distribute a large suite's execution further across several jenkins slaves.   SeLion leaves scaling of the test class (I.e S

[2017-08-05 19:40] sebady commented on #363
I'm closing this issue. Please reach out to us on gitter (https://gitter.im/paypal/SeLion) if you have further questions.

[2017-08-05 19:40] #363 closed, assigned to nobody

[2017-08-07 08:41] vikramvi commented on #363
@sebady thanks for additional info. Sure will join gitter in case of further clarifications

[2017-08-14 16:55] rajivnw opened #364 "Does SeLion provide cucumber BDD Support?"
If i use cucumber BDD famework then there is not need to write Anotations  then how we can integrate this framework to cucumber BDDs?

[2017-08-14 20:04] mach6 commented on #364
SeLion does not directly support BDD or cucumber, presently.

If this is something you want to build, it should be do-able and if you would like to contribute the integration to the project, we would welcome it.

[2017-08-14 20:04] #364 closed, assigned to nobody

[2017-08-17 22:55] mach6 commented on #353
fixed for chrome. FF is still broken.

[2017-08-17 22:56] mach6 commented on #312
this is almost a year old without any activity. closing it

[2017-08-17 22:56] #312 closed, assigned to nobody

[2017-10-13 17:11] SudhakaraPeram opened #372 "Provide the capability to retry failed to tests"
### SeLion Version
1.2.0 or 2.0.0-SNAPSHOT
### Component
SeLion

### Expected Behavior
Provide the capability to retry failed to tests with configurable retry count.

### Actual Behavior

### Steps to Reproduce

[2017-10-14 05:14] vikram1711 commented on #372
I can pick this up, I have built similar functionality for my team. @mach6 - if you approve this feature I can open a PR.

[2017-10-16 18:01] mach6 commented on #372
@vikram1711 sounds good.. please make it disabled by default

[2017-10-16 18:46] vikram1711 commented on #353
Do you mind sharing the issue here, what I am seeing is juts 10 failures in my fork?

[2017-10-16 18:59] mach6 commented on #353
@vikram1711 it is a large file (due to the overly verbose output of geckodriver and ff) but you should be able to access the "raw log" from any of the recently failed builds for firefox on travis.

Here is the link - https://travis-ci.org/paypal/SeLion/builds

For example, for build 897, this is the raw log for the firefox build -- https://s3.amazonaws.com/archive.travis-ci.org/jobs/286146898/log.

[2017-11-18 07:44] mach6 commented on #355
@khandelwalgarima any update on this? should I remove you as the assignee?

[2017-11-19 18:38] khandelwalgarima commented on #355
yes please remove

[2017-11-29 02:02] mach6 commented on #355
@khandelwalgarima thx and done

[2017-12-14 07:01] mahe12 opened #377 "Using Grid.driver() we are not able to get FindElementAccessbilityId Issue,please check"
### SeLion Version

### Component

### Expected Behavior

### Actual Behavior

### Steps to Reproduce

[2017-12-14 15:18] mach6 commented on #377
Please provide more detail. SeLion version? Selenium version?

Also, what makes you think `FindElementAccessbilityId` is missing?

`Grid.driver()` returns a `RemoteWebDriver` object -- which has no such method. See the javadocs -- https://seleniumhq.github.io/selenium/docs/api/java/org/openqa/selenium/remote/RemoteWebDriver.html

[2017-12-29 11:52] antsmartian commented on #372
@vikram1711 Are you working on this still?

[2018-01-19 17:53] sbheemanadham opened #378 "NullPointerException with SelionAssert.assertXXX in DataProvider"
### SeLion Version : 1.2.0

### Component : SeLion

### Expected Behavior : Hard asserts should work from the DataProvider

### Actual Behavior : NullPointerException when hard assert is in DataProvider

Caused by: java.lang.NullPointerException
       at com.paypal.selion.platform.asserts.SeLionHardAssert.showAssertInfo(SeLionHardAssert.java:38)
       at com.paypal.selion.platform.asserts.SeLion

[2018-01-19 17:57] mach6 commented on #378
Root Cause: There is no `@Test` method information available in this scenario.

[2018-01-19 17:58] mach6 commented on #377
@mahe12 closing due to no response.

[2018-01-19 17:58] #377 closed, assigned to nobody

[2018-04-11 03:37] kevinx701 opened #381 "exception override by softassertion error stack in SeLionAssertsListener.java"
### SeLion Version
1.2.0 and 2.0 SNAPSHOT
### Component
com.paypal.selion.internal.platform.asserts.SeLionAssertsListener

### Expected Behavior
condition:
1.there a soft assertion failed.
2. throw another exception.
e.g.
    SeLionAsserts.verifyTrue(false);
    throw new ElementNotVisibleException("cannot find element");

if test failed and broke by none SoftAssertion  issue, SeLionAssertsListene

[2019-02-13 13:37] mpnkhan opened #385 "Need New Plugin to scan accessibility issues in source code"
This is a New idea to create a In-Built plugin to scan source code for Accessibility violations.
Use axe-core open source engine to scan. This is similar to this project https://github.com/dequelabs/axe-selenium-java .

[2019-02-23 01:16] BoomaRajan opened #386 "Selion Dependency Issue"
### SeLion Version
1.2.0
### Component
SeLion
### Expected Behavior
When I added dependency of SeLion.My Actual test script should work
### Actual Behavior
When I added dependency of SeLion.My test script are ignored
ClassNotFoundException com.paypal.selion.logger.SeLionLogger

My java project has already testng and selenium dependency

Steps to Reproduce

Add  testng and selenium driver dependenc

[2019-02-25 18:31] mach6 commented on #385
@mpnkhan this is outside of the current scope of SeLion. I'm curious though, what prevents someone from adding a dependency (such as one to axe-selenium-java) to their project to accomplish the same? What value would SeLion add here?

[2019-02-25 18:34] mach6 commented on #386
`SeLionLogger` is part of the SeLion-Common.jar artifact. Make sure you add that as a dependency also, if your dependency management system is failing to pull it in automatically for you.

See - http://paypal.github.io/SeLion/html/java-docs/1.2.0/common-apis/index.html

Also, it sometimes helps in instances like this if you can include an example.

[2019-02-26 05:11] mpnkhan commented on #385
Quick question:
Are there any plugins available for Selion? example to test security, performance etc?

[2019-03-02 21:20] JLLeitschuh opened #387 "[SECURITY] Releases are published insecurely"
[CWE-829: Inclusion of Functionality from Untrusted Control Sphere](https://cwe.mitre.org/data/definitions/829.html)
[CWE-494: Download of Code Without Integrity Check](https://cwe.mitre.org/data/definitions/494.html)

The build files indicate that this project is uploading artifacts over HTTP instead of HTTPS. Any of these artifacts could have been MITM to maliciously compromise them and infect t

[2019-03-06 04:25] mach6 commented on #387
Addressed with https://github.com/paypal/SeLion/commit/0f01745f9ec00aed4543c6a75aa82df7a226e2f0

[2019-03-06 04:25] #387 closed, assigned to nobody

[2019-03-06 04:39] #386 closed, assigned to nobody

[2019-03-06 04:39] mach6 commented on #385
Not that I'm aware of

[2019-03-06 05:36] JLLeitschuh commented on #387
@mach6 Will you be auditing previous releases?
Also, can you communicate this vulnerability to the PayPal security team? It got bounced by the HackerOne team who pre-filters reports.

[2019-03-06 05:55] mpnkhan commented on #385
Thanks Doug for the info.
We have nemo framework for nodejs and nemo accessibility plugin. There are similar accessibility frameworks for some of the famous testing frameworks. So i thought it would be a good idea to have one for SeLion.

Closing this for now.

[2019-03-06 05:55] #385 closed, assigned to nobody

[2019-04-08 16:44] michiboo commented on #346
Hi, is this issue still unsolved? if not I would like to try

[2019-04-11 20:18] mach6 commented on #346
hi @michiboo I don't believe it has been resolved. here is the current code on the develop branch - https://github.com/paypal/SeLion/blob/develop/client/src/main/java/com/paypal/selion/internal/platform/grid/SeleniumGridListener.java#L319-L322

[2019-04-18 14:57] goodsophia opened #388 "NullPointerException with webElement.sendKeys(keys) from UIATextField"
### SeLion Version

### Component

### Expected Behavior

### Actual Behavior

### Steps to Reproduce

[2019-04-18 15:28] JLLeitschuh commented on #387
@mach6 Would you like me to file for the CVE number? Or can you? I've got a lot on my plate, so if you can do so, that would be good.

https://cve.mitre.org/cve/request_id.html

[2019-04-19 03:11] mach6 commented on #388
closing due to insufficient information

[2019-04-19 03:11] #388 closed, assigned to nobody

[2019-04-19 03:50] goodsophia opened #389 "java.lang.NoClassDefFoundError: org/openqa/selenium/remote/JsonException"
### SeLion Version
2.0.0-SNAPSHOT

### Component

### Expected Behavior
ios cases can be run on IOS(iphone:11.2，iphoneX) app

### Actual Behavior

run cases on IOS(iphone:11.2，iphoneX) app, it throws NoClassDefFoundError, it seems there is no JsonException in selenium-remote-driver 3.7.1

### Steps to Reproduce
1. write one ios case:
![image](https://user-images.githubusercontent.com/34434812/5640

[2019-05-02 14:44] JLLeitschuh commented on #387
Ping!

[2019-08-21 08:32] AshwinPadmanabhan opened #390 "SeLion - Getting Exception : java.lang.ClassNotFoundException: org.openqa.grid.selenium.GridLauncher$GridItemLauncher"
### SeLion Version

In POM.XML , i am using the following versions :
a. Selenium-server : 2.46.0
2. selenium-java : 3.141.59
3. selion version - 1.0.0

### Steps to Reproduce
Getting the following exception while running the TESTNG xml
stacktrace :

08.21.2019 13:56:00.167,[12] com.paypal.selion.grid.InstallHelper INFO Verifying SeLion Grid installation...
08.21.2019 13:56:00.198,[13] com.paypal.s

[2019-08-22 10:46] AshwinPadmanabhan opened #391 "Getting exception - cannot create a temp directory while running tests ."
Details omitted ...

[2019-08-22 11:27] AshwinPadmanabhan commented on #391
In the above error , I could see 2 nodes(system INFO section )
Could you please help me ?

[2019-10-22 00:16] namratha-bharadwaj opened #392 "Hello,"
### SeLion Version

### Component

### Expected Behavior

### Actual Behavior

### Steps to Reproduce

[2019-10-22 00:19] namratha-bharadwaj commented on #392
Hello,
I am seeing the following exception while running my tests:
at org.openqa.selenium.firefox.internal.NewProfileExtensionConnection.start(NewProfileExtensionConnection.java:113)
	at org.openqa.selenium.firefox.FirefoxDriver.startClient(FirefoxDriver.java:271)
	at org.openqa.selenium.remote.RemoteWebDriver.<init>(RemoteWebDriver.java:119)
	at org.openqa.selenium.firefox.FirefoxDriver.<init>(Fi

[2019-10-23 19:01] mach6 commented on #392
Insufficient information to bring this to a resolution. In addition this looks to be a selenium + firefox issue. Please ensure you are using a version of firefox which is compatible with selenium `2.53.1`. If you are using a newer version of firefox, you also need to be using a newer version of `geckodriver`.

Last if you are on SeLion `1.2.x` and using `geckodriver` you need to tell SeLion to tak

[2019-10-23 19:01] #392 closed, assigned to nobody

[2019-10-23 19:03] mach6 commented on #391
Closing this as it is was not a SeLion specific issue

[2019-10-23 19:03] #391 closed, assigned to nobody

[2019-10-23 19:04] mach6 commented on #390
[code]

These combinations are not compatible.

In addition Selenium 3.x + is not compatible with SeLion 1.x

[2019-10-23 19:04] #390 closed, assigned to nobody

[2019-10-23 19:07] mach6 commented on #389
the json dependency was removed as a dependency for selenium, upstream
you can manually add the dependency back in your project pom

leaving this open as an issue to consider in the selion bom

[2019-10-23 19:10] mach6 commented on #381
This is the intended behavior and limitation. Leaving it open though to track -- perhaps the behavior can be improved.

[2020-04-17 08:27] odidev opened #393 "Error: Forwarding the new session Empty pool of VM for setup Capabilities"
**SeLion Version:**
2.0.0-SNAPSHOT

**Selenium Server:**
3.141.59

**Expected Behavior:**
All tests and modules have to run successfully.

**Actual Behavior**

Error forwarding the new session Empty pool of VM for setup Capabilities {acceptSslCerts: true, browserName: chrome, goog:chromeOptions: {args: [--test-type, --ignore-certificate-errors], extensions: []}, javascriptEnabled: true, name: com.

[2020-05-12 05:50] odidev commented on #393
Initially, I was running a complete package and was facing a few issues. Now, I made a try for building/testing only the archetype and it got resolved after building all these dependencies(project-bom, codegen-maven, SeLion-appium-provider, SeLion-iosdriver-provider, SeLion-selendroid-provider) locally.

[2020-05-12 05:50] #393 closed, assigned to nobody